/*
    05. button
*/


/* 
    button-start
*/

.sr-offcanvas-btn-1 {
    width: 42px;
    height: 42px;
    border: 1px solid var(--as-clr-h-1);
    border-radius: 6px;
    background: transparent;
    color: var(--as-clr-h-1);
    font-size: 20px;
    transition: all 0.5s var(--as-cube-1);

    &:hover {
        border-color: var(--as-clr-pr-1);
        color: var(--as-clr-pr-1);
    }
}


.sr-offcanvas-btn-2 {
    font-family: var(--as-font-3);
    background: transparent;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 8px;
    padding-left: 28px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    transition: all .4s var(--as-cube-1);

    .icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
    }

    &:hover {
        background: #fff;
        color: #000;
    }
}


.as-pr-btn-1 {
    font-family: var(--as-font-1);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.04em;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    background: var(--as-clr-h-1);
    border-radius: 8px;
    padding: 3px;
    padding-left: 20px;
    color: #fff;
    transition: all .5s var(--as-cube-1);

    .icon {
        width: 38px;
        height: 38px;
        flex: 0 0 auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 6px;
        transition: all .5s var(--as-cube-1);
        color: #000;
        font-size: 26px;
        position: relative;
        z-index: 0;
        overflow: hidden;

        i {
            transition: all .5s var(--as-cube-1);

            &:nth-child(2) {
                position: absolute;
                transform: translateX(-30px);
            }
        }

        .icon-fix {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
    }

    .text {
        transition: all .5s var(--as-cube-1);
        overflow: hidden;
    }

    &:hover {
        color: #fff;
        background: var(--as-clr-pr-1);

        .icon {
            i {
                &:nth-child(1) {
                    transform: translateX(30px);
                }
                &:nth-child(2) {
                    position: absolute;
                    transform: translateX(0px);
                }
            }
        }
    }


    
}

.as-pr-btn-1-v2 {
    font-family: var(--as-font-1);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.04em;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    background: var(--as-clr-h-1);
    border-radius: 8px;
    padding: 3px;
    padding-left: 20px;
    color: #fff;
    transition: all .5s var(--as-cube-1);

    .icon {
        svg {
            width: 32px;
            height: 32px;

            circle {
                fill: red
            }
        }
    }


    
}


.as-pr-btn-2 {
    font-family: var(--as-font-3);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background: #000;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    padding: 10px 24px;
    padding-left: 57px;
    transition: all 0.6s var(--as-cube-1);
    position: relative;
    z-index: 1;

    .icon {
        width: 40px;
        height: 40px;
        background: #fff;
        flex: 0 0 auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #000;
        border-radius: 50%;
        overflow: hidden;

        position: absolute;
        top: 50%;
        left: calc(3% - 0px);
        transform: translateY(-50%);
        will-change: transform;
        z-index: 1;
    }


    .text {
        will-change: transform;
    }

    &:hover {
        color: #fff;
    }

}

.as-pr-btn-3 {
    font-family: var(--as-font-1);
    font-weight: 600;
    letter-spacing: -0.025em;
    font-size: 15px;
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 10px;
    background: #0a0a0a;
    border-radius: 100px;
    color: #fff;
    padding: 11px 31px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        i {
            transform: rotate(-45deg);
            transition: var(--as-cube-2);

            &:nth-child(2) {
                position: absolute;
                transform: rotate(-45deg) translate(-20px, 0px);
            }
        }
    }

    .text {
        position: relative;
        z-index: 1;
        overflow: hidden;

        &::after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            display: block;
            transition: var(--as-cube-2);
            position: absolute;
            content: attr(data-back);
            transform: translateY(100%);
        }
    
        &::before {
            top: 0;
            left: 0;
            opacity: 1;
            display: block;
            transition: var(--as-cube-2);
            position: relative;
            content: attr(data-front);
            transform: translateY(0);
        }
    }


    &::after {
        content: "";
        background-image: linear-gradient(90deg, #0a0a0a, var(--as-clr-pr-3) 50%, #0a0a0a);
        position: absolute;
        inset: 0%;
        transform: translate(-100%);
        z-index: -1;
    }

    &:hover {
        color: #fff;
        &::after {
            animation: asBtn3kf 1s ;
        }

        .icon {
            i {
                &:nth-child(1) {
                    transform: rotate(-45deg) translate(20px, 0px);
                }    
                &:nth-child(2) {
                    transform: rotate(-45deg) translate(0px, 0px);
                }
            }
        }

        .text {
            &::after {
                opacity: 1;
                transform: translateY(0%);
            }
            &::before {
                opacity: 0;
                transform: translateY(-100%);
            }
        }
    }
}


@keyframes asBtn3kf {
    to {
        transform: translateX(100%);
    }
}

.as-search-btn-2 {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    transition: var(--as-cube-2);
    background: transparent;
    border: none;
    padding: 0;
    &:hover {
        color: var(--as-clr-pr-3);
    }
}
/* 
    button-end
*/