
/* 
    elements-start
*/
.as-author-1 {
    position: relative;
    z-index: 1;
    display: inline-flex;
    padding: 0px 40px;

    .bg-shape-1 {
        position: absolute;
        left: 0;
        bottom: -18px;
        animation: h3partnerLeaf 3s linear infinite;    
        animation-delay: 2s;
    }


    .bg-shape-2 {
        position: absolute;
        right: 0;
        bottom: -19px;
        animation: h3partnerLeaf 3s linear infinite;
    }
    &-img {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 2px solid #fff;
        
        &:not(:first-child) {
            margin-left: -10px;
        }
    }
}


.as-rating-1 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    .icon {
        font-size: 16px;
        color: var(--as-clr-pr-1);
    }

    .text {
        font-size: 24px;
        font-weight: 600;
    }
}


.wa_magnetic_1_trigger {
    img {
        transform: scale(1.05);
    }
}



.as-phone-btn-1{
    color: #fff;
    font-size: 16px;
    display: flex;
    gap: 10px;
    transition: all .4s var(--as-cube-1);
    span {
        font-weight: 500;
        opacity: .7;
    }

    &:hover {
        color: #fff;
        transform: translateX(3px);
    }
}

/* 
    elements-end
*/