/* 
    about-1-start
*/
.as-about-1 {
    &-wrap {
        display: grid;
        gap: 50px;
        grid-template-columns: 1.39fr 1fr 1fr;
        @media #{$xxl,$xl,$lg,$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-content {
        .as-sec-title-1 {
            margin-bottom: 30px;
        }

        .hr-line {
            height: 2px;
            width: 100%;
            background: #bbbbbb;
            margin-bottom: 31px;
        }

        .sec-disc {
            margin-bottom: 50px;
        }
    }

    &-testimonial {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px;

        .as-rating-1 {
            margin-bottom: 8px;
        }
    }

    &-middle {
        .middle-title {
            font-size: 34px;
            margin-bottom: 21px;

            @media #{$md,$xs} {
                font-size: 26px;
            }
        }
    }
    &-right {

        @media #{$xxl,$xl,$lg,$md,$xs} {
            display: none;
        }
        .right-title {
            font-size: 34px;
            margin-bottom: 21px;
        }
    }

    &-features {
        background-color: #b8b8b8;
        border-radius: 10px;
        padding: 6px;
        display: flex;
        flex-direction: column;
        gap: 6px;

        &-single {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px 25px;

            .item-title {
                width: 100%;
                font-size: 24px;
                text-align: left;
                margin-bottom: 12px;
                transition: all .4s var(--as-cube-1);

                &:hover {
                    color: var(--as-clr-pr-1);
                }

                @media #{$xs} {
                    font-size: 22px;
                }
                @media #{$sm} {
                    font-size: 24px;
                }
            }
            .item-disc {
                color: #646464;
            }
        }
    }
}


@keyframes h3partnerLeaf {
    0% {
        transform-origin: 50% 100%;
        transform: skewX(-5deg);
    }
    50% {
        transform-origin: 50% 100%;
        transform: skewX(5deg);
    }
    100% {
        transform-origin: 50% 100%;
        transform: skewX(-5deg);
    }
}


/* 
    about-1-start
*/
/* 
    about-2-start
*/

.as-about-2 {
    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: start;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        .as-sec-title-2 {
            max-width: 840px;
        }

        .as-subtitle-1 {
            flex: 0 0 auto;
        }
    }

    &-wrap {
        margin-left: -80px;
        margin-right: -80px;
        display: grid;
        gap: 8px;
        grid-template-columns: 1fr 1.5fr 1.25fr;

        @media #{$xxl,$xl,$lg} {
            margin-left: 0px;
            margin-right: 0px;
        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
            margin-left: 0px;
            margin-right: 0px;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    &-left {
        background-color: #fff;
        border-radius: 12px;
        padding: 16px;
    }

    &-video {
        height: 138px;
        border-radius: 10px;
        overflow: hidden;
    }
    

    &-counter {
        padding: 25px 25px;
        margin-bottom: 50px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 25px 0px;
        }

        .number-x-title {
            display: flex;
            align-items: end;
            gap: 13px;
            border-bottom: 1px solid #D9D9D9;
            padding-bottom: 35px;
            margin-bottom: 35px;

            @media #{$lg,$md,$xs} {
                flex-wrap: wrap;
            }
        }

        
        .number {
            font-size: 108px;
            flex: 0 0 auto;
            line-height: .7;
            color: #CECECE;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 80px;
            }

            .odometer {
                color: #000;
            }
            
        }

        .title {
            color: #000;
            font-size: 17px;
        }
    }
    

    &-rating {
        display: flex;
        flex-direction: column;
        background-color: #000;
        border-radius: 12px;
        padding: 30px 36px;
        gap: 57px;
        margin-bottom: 8px;

        @media #{$lg,$md,$xs} {
            padding: 30px 21px;
        }

        .disc {
            color: #fff;
            letter-spacing: -0.01em;
            max-width: 300px;
        }

        .content-wrap {
            align-self: end;
            text-align: right;
        }

        .title {
            font-size: 60px;
            line-height: 1;
            color: #fff;
            letter-spacing: -0.01em;

            
            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 40px;
            }
        }

        .rating-icon {
            color: #fff;
            font-size: 14px;
            display: inline-block;
            background: rgb(102 102 102 / 48%);
            border-radius: 100px;
            padding: 3px 13px;
            margin-bottom: 15px;
        }

        .logo-elm {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            opacity: .2;
        }
    }

    &-support {
        text-align: center;
        background: #F5F5F5;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 24px 20px;

        .icon {
            width: 60px;
            height: 60px;
            background: #000;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            display: inline-flex;
            margin-bottom: 22px;
            transform-origin: center center;
        }

        .title {
            font-size: 24px;
            margin-bottom: 6px;
        }

        .disc {
            font-size: 16px;
            letter-spacing: -0.01em;
        }
    }

    &-middle {
        .inner-div {
            background-color: #fff;
            border-radius: 12px;
            display: grid;
            gap: 18px;
            grid-template-columns: 2.51fr 1fr;
            padding: 4px;
            padding-left: 15px;
            border: 1px solid rgba(10, 10, 10, 0.08);
            align-items: center;

            @media #{$lg,$md,$xs} {
                grid-template-columns: 1fr;
            }
        }
    }

    &-progress {
        overflow: hidden;
        &-single {
            height: 48px;
            background: rgb(10 10 10 / 4%);
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            font-weight: 500;
            color: var(--nm-clr-h-4);

            &:not(:first-child) {
                margin-top: -7px;
            }

            &:nth-child(2) {
                background: #E5E4E4;
            }

            &:nth-child(3) {
                background: #000;
                color: #ffff;
            }
            &:nth-child(4) {
                background: #E7E7E7;
            }
        }
    }

    &-process {
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding: 40px 44px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;

        @media #{$lg,$md,$xs} {
            padding: 40px 20px;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #0A0A0A;
            opacity: 32%;
            z-index: -1;
        }

        .title {
            font-size: 28px;
            font-weight: 700;
            max-width: 300px;
            color: #fff;
        }

        .disc {
            color: #fff;
            align-self: end;
            text-align: right;
            font-weight: 500;
            max-width: 310px;
        }
    }
    
    

}






/* 
    about-2-end
*/

/* 
    about-3-start
*/



.as-about-3 {
    &-area {
        padding-top: 60px;
        background-color: #DCDCDC;
    }
    &-wrap {
        display: grid;
        grid-template-columns: 1fr auto 2.9fr;
        gap: 100px;

        @media #{$xxxl,$xxl} {
            gap: 50px;
        }
        @media #{$xl} {
            gap: 50px;
            grid-template-columns: 1fr auto 2.5fr;
        }
        @media #{$lg,$md,$xs} {
            gap: 50px;
            grid-template-columns: 1fr;
        }
    }

    &-middle-line {
        width: 1px;
        height: 100%;
        background: #c6c6c6;

        @media #{$lg,$md,$xs} {
            display: none;
        }
    }

    &-left {
        .as-subtitle-3 {
            margin-bottom: 73px;
        }
    }

    &-disc {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 40px;

        b {
            color: #000;
        }
    }

    &-author {
        display: flex;
        align-items: center;
        gap: 20px;

        &-img {
            display: flex;
            align-items: center;
            .main-img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                position: relative;
                z-index: 1;
            }

            .img-shape-3 {
                width: 80px;
                height: 80px;
                background: #535e64;
                border-radius: 50%;
                clip-path: polygon(0 0, 40% 0, 40% 100%, 0% 100%);
                flex: 0 0 auto;
                margin-right: -49px;
                transform: translateX(31px);
                transition: var(--as-cube-2);
                opacity: 0;
            }

            .img-shape-2 {
                width: 70px;
                height: 70px;
                background: #535e64;
                border-radius: 50%;
                clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
                flex: 0 0 auto;
                margin-right: -50px;
                transform: translateX(52px);
                transition: var(--as-cube-2);
                opacity: 0;
            }            
            .img-shape-1 {
                width: 62px;
                height: 62px;
                background: #535e64;
                border-radius: 50%;
                clip-path: polygon(0 0, 24% 0, 24% 100%, 0% 100%);
                flex: 0 0 auto;
                margin-right: -48px;
                transform: translateX(66px);
                transition: var(--as-cube-2);
                opacity: 0;
            }

            &:is(.active) {
                .img-shape-1, .img-shape-2, .img-shape-3 {
                    transform: translateX(0);
                    opacity: 1;
                }

                .img-shape-1 {
                    transition-delay: .6s;
                }
                .img-shape-2 {
                    transition-delay: .5s;
                }               
                .img-shape-2 {
                    transition-delay: .4s;
                }
            }
        }

        &-content {
            .author-name {
                font-size: 22px;
                font-weight: 600;
                color: #000;
                margin-bottom: 2px;
                transition: var(--as-cube-2);

                &:hover {
                    color: var(--as-clr-pr-3);
                    transform: translateX(3px);
                }
            }
            .author-dg {
                font-size: 14px;
            }
            
            .author-social {
                display: flex;
                gap: 10px;
                font-size: 16px;
     
                .link-elm {
                    transition: var(--as-cube-2);
                    color: #000;

                    &:hover {
                        color: var(--as-clr-pr-3);
                    }
                }
            }
        }
    }

    &-sec-title {
        font-size: 48px;
        font-weight: 600;
        line-height: 1.125;
        margin-bottom: 35px;

        @media #{$xl} {
            font-size: 45px;
        }
        @media #{$lg} {
            font-size: 42px;
        }
        @media #{$md} {
            font-size: 38px;
        }
        @media #{$xs} {
            font-size: 32px;
        }
        @media #{$sm} {
            font-size: 35px;
        }
    }

    &-right {
        .btn-wrap {
            margin-bottom: 55px;
        }
    }




    &-card-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-card {
        background-color: #fff;
        border-radius: 40px;
        padding: 35px 40px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 35px 20px;
        }

        .title-x-icon {
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
            margin-bottom: 20px;

        }

        .title {
            font-size: 18px;
            font-weight: 700;
            transition: var(--as-cube-2);

            &:hover  {
                color: var(--as-clr-pr-3);
                transform: translateX(3px);
            }
        }

        .disc {
            font-weight: 400;
        }

        &:hover {
            .icon {
                animation: rubberBand 1s;
            }
        }
    }


    &-bg-illus-1 {
        width: 53%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    
    &-bg-illus-2 {
        width: 30%;
        text-align: right;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}
/* 
    about-3-end
*/

/* 
    about-4-start
*/
.as-about-4 {


    &-sec-title {
        display: flex;
        gap: 30px 100px;
        max-width: 1400px;
        align-items: start;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        .section-title {
            font-weight: 600;
            font-size: 90px;
            line-height: 1.125;

            span {
                opacity: .5;
            }
            

            @media #{$xxxl} {
                font-size: 80px;
            }
        
            @media #{$xxl} {
                font-size: 70px;
            }
        
            @media #{$xl} {
                font-size: 60px;
            }
            @media #{$lg} {
                font-size: 50px;
            }
            @media #{$md} {
                font-size: 40px;
            }
            @media #{$xs} {
                font-size: 28px;
            }
            @media #{$sm} {
                font-size: 30px;
            }
        }
    }

    &-wrap {
        display: grid;
        gap: 16px;
        grid-template-columns: 1.85fr 1fr;

        @media #{$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-disc {
        background-color: #dfdfdf;
        border-radius: 20px 0 0 0;
        padding: 45px 60px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 45px 30px;
        }

        .bg-img {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            z-index: -1;
        }

        .disc {
            font-size: 30px;
            line-height: 1.333;
            margin-bottom: 30px;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                font-size: 20px;
            }
        }
        .inner-div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 65px;

            @media #{$xs} {
                flex-wrap: wrap;
            }

            &-line {
                width: 1px;
                height: 116px;
                background: #3e3e3e;
                opacity: 21%;

                @media #{$xs} {
                    display: none;
                }
            }
        }


        .author-img {
            display: flex;

            @media #{$xs} {
                flex-wrap: wrap;
            }
        
            &-single {
                width: 106px;
                height: 106px;
                border-radius: 50%;
                border: 1px solid #fff;

                &:not(:first-child) {
                    margin-left: -30px;
                }
            }
        }


        .author-rating {
            .icon {
                color: var(--as-clr-pr-1);
                display: flex;
                font-size: 28px;
                gap: 3px;
                margin-bottom: 13px;
            }
            .title {
                font-size: 30px;
                color: #000;
                font-weight: 600;

                @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                    font-size: 20px;
                }
            }
        }
        
    }


    &-experience {
        border-radius: 0 20px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 35px 40px;
        position: relative;
        z-index: 1;
        gap: 30px;

        &::after {
            content: "";
            width: 100%;
            height: 80%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, black 40%, transparent);
            z-index: -1;
        }


        .title {
            font-size: 55px;
            font-weight: 700;
            line-height: 1;
            color: #fff;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                font-size: 35px;
            }
        }

        .disc {
            color: #b2b1b1;
            font-size: 18px;
            max-width: 430px;
        }
    }
    
    &-wrap-2 {
        display: grid;
        gap: 16px;
        grid-template-columns:  1fr 1.85fr;
        margin-top: 20px;
        align-items: start;

        @media #{$md,$xs} {
            grid-template-columns:  1fr;
        }
    }

    &-growth {
        background-color: #1f1f1f;
        position: relative;
        z-index: 1;
        padding: 30px 40px;
        height: 386px;
        overflow: hidden;
        border-radius: 0 0 0 20px;

        .title {
            font-weight: 600;
            font-size: 36px;
            color: #fff;
            margin-bottom: 16px;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                font-size: 30px;
            }
        }

        .disc {
            font-size: 18px;
            color: #b4b4b4;
            max-width: 380px;
        }

        .img-elm {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            z-index: -1;

            img {
                height: 100%;
            }
        }

        &::after {
            content: "";
            width: 100px;
            height: 130px;
            position: absolute;
            bottom: -30px;
            left: -50px;
            background: #fff;
            filter: blur(61px);
        }
    }
    

    &-marquee {
        background-color: #e0e0e0;
        padding: 20px;
        border-radius: 0 0 20px 0;
        overflow: hidden;

        &-item {
            display: flex;
            gap: 16px;
            margin-right: 16px;

            .single-elm {
                height: 200px;
                width: 255px;
                flex: 0 0 auto;
                border-radius: 10px;
                overflow: hidden;

                .main-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 60%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(0deg, black, transparent);
                }


                .logo {
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    z-index: 1;
                    transform: translateX(-50%);
                    max-width: 100px;
                }
            }
        }

        .marquee-bg {
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            padding-bottom: 12px;
        }


        
        &-content {
            padding-top: 26px;
            padding-bottom: 7px;

            .title {
                font-size: 36px;
                font-weight: 600;
                margin-bottom: 7px;
                @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                    font-size: 28px;
                }
            }
        }


        &-bg-line {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            opacity: 9%;

            .line {
                width: 1px;
                height: 100%;
                background: #000;
            }
        }
        
    }
    
    

}









/* 
    about-4-end
*/