/* 
    blog-1-start
*/
.as-blog-1 {
    &-sec-title {
        max-width: 1430px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 30px;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        .left {
            max-width: 630px;
        }
        .right {
            max-width: 540px;
        }
        .sec-disc {
            margin-bottom: 24px;
        }
    }
    
    &-wrap {
        max-width: 1650px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        align-items: start;

        @media #{$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }
    }
    
    &-left {
        background-color: #000;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 45px 45px;
        height: 665px;
        justify-content: space-between;
        position: relative;
        z-index: 1;

        .title {
            color: #fff;
            font-size: 48px;
            max-width: 500px;

            span {
                color: var(--as-clr-pr-1);
            }

            @media #{$xl,$lg} {
                font-size: 38px;
            }
            @media #{$md,$xs} {
                font-size: 30px;
            }
        }
        .logo-elm {margin-left: auto;}

        &-bg-img {
            text-align: right;
            width: 73%;
            position: absolute;
            bottom: -20px;
            right: -130px;
            z-index: -1;
        }

        &-svg {
            position: absolute;
            top: 40px;
            left: 0px;
            width: 100%;
            z-index: -2;
        }
    }

    &-item {
        border-radius: 20px;
        background: #fff;
        padding: 8px;
        padding-right: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        align-items: center;

        @media #{$xs} {
            grid-template-columns: 1fr;
            padding: 8px;
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
            padding: 8px;
            padding-right: 20px;
        }

        .item-img {
            height: 305px;
            border-radius: 16px;
        }

        .categories {
            display: inline-block;
            background: var(--as-clr-pr-1);
            color: #fff;
            padding: 4px 29px;
            border-radius: 6px;
            font-size: 15px;
            margin-bottom: 20px;
        }

        .title {
            font-size: 24px;
            margin-bottom: 16px;
            transition: all .4s var(--as-cube-1);

            &:hover {
                color: var(--as-clr-pr-1);
            }
        }
        .disc {
            margin-bottom: 19px;
        }
        

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
}




/* 
    blog-1-end
*/
/* 
    blog-2-start
*/
.as-blog-2 {
    &-sec-title {
        display: grid;
        grid-template-columns: 1fr 2.3fr auto;
        align-items: start;


        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }

        .middle {
            max-width: 640px;
        }
        .as-subtitle-2 {
            justify-self: start;
        }

        .as-sec-title-2 {
            margin-bottom: 30px;
        }

        .btn-wrap {
            margin-top: 33px;
        }
    }

    &-slider {
        margin-left: auto;
        max-width: 1280px;
        margin-right: -300px;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            margin-right: 0px;
        }


        .swiper-slide {
            max-width: 484px;
        }
    }



    &-item {
        .item-img {
            height: 304px;
            border-radius: 8px;
            margin-bottom: 25px;
        }

        .date-x-title {
            display: flex;
            gap: 40px;

            @media #{$xs} {
                flex-wrap: wrap;
            }
            @media #{$sm} {
                flex-wrap: nowrap;
            }
        }

        .item-date {
            font-size: 16px;
            flex: 0 0 auto;
            color: #515151;
            font-weight: 400;
            

            span {
                display: block;
                color: #000;
                font-weight: 500;
                font-size: 40px;
                line-height: 1;
                margin-bottom: 10px;

                @media #{$lg,$md,$xs} {
                    font-size: 30px;
                }
            }
        }

        .title {
            font-size: 22px;
            margin-bottom: 12px;
        }


        .item-btn {
            font-size: 15px;
            font-weight: 400;
            color: #515151;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
            max-width: 350px;
            border-bottom: 1px solid #D9D9D9;
            padding: 10px 0;
        }
    }




}


/* 
    blog-2-end
*/