/* 
    cta-1-start
*/
.as-cta-1 {


    &-experi {
        background-color: #f0f0f0;
        border-radius: 20px;
        max-width: 1540px;
        margin-left: auto;
        margin-right: auto;
        padding: 45px 20px;
        text-align: center;
        margin-top: -120px;
        position: relative;
        z-index: 1;

        &-title {
            text-align: center;
            font-size: 24px;
            margin-bottom: 30px;

            .number {
                font-family: var(--as-font-2);
                font-weight: 800;
                font-size: 40px;
                line-height: 1;
                transform: translateY(3px);
                color: var(--as-clr-pr-1);

                .odometer {
                    color: var(--as-clr-h-1);
                }
            }
        }

        &-services {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
    
            .link-elm {
                font-size: 20px;
                box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.13);
                background: #fff;
                border-radius: 6px;
                padding: 8px 25px;
                transition: all .5s var(--as-cube-1);
    
                &:hover {
                    background: var(--as-clr-pr-1);
                    color: #fff;
                }
            }
        }
    }


    &-bg {
        background-color: #000;
        margin-top: -120px;
        padding-top: 200px;
        border-radius: 0 0 60px 60px;
        
    }

    &-wrap {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    
    &-social {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;

        .link-elm {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            color: #fff;
            border: 1px solid rgb(255 255 255 / 30%);
            border-radius: 6px;
            padding: 4px 20px;
            transition: all .5s var(--as-cube-1);

            &:hover {
                background: var(--as-clr-pr-1);
                border-color: transparent;
            }
        }
    }
    
    &-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;
        margin-top: 308px;

        @media #{$md,$xs} {
            margin-top: 100px;
        }

        .title-1 {
            font-size: 189px;
            color: #fff;
            line-height: 1;
            will-change: transform;

            @media #{$xxxl} {
                font-size: 160px;
            }
            @media #{$xxl} {
                font-size: 150px;
            }
            @media #{$xl} {
                font-size: 140px;
            }
            @media #{$lg} {
                font-size: 130px;
            }
            @media #{$md} {
                font-size: 120px;
            }
            @media #{$xs} {
                font-size: 60px;
            }
            @media #{$sm} {
                font-size: 80px;
            }
        }

        .title-2 {
            font-size: 96px;
            color: var(--as-clr-pr-1);
            margin-bottom: 40px;
                   will-change: transform;

            @media #{$md} {
                font-size: 80px;
            }
            @media #{$xs} {
                font-size: 40px;
            }
            @media #{$sm} {
                font-size: 60px;
            }
        }

        .btn-wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            margin-bottom: 30px;
                   will-change: transform;
        }

        .as-pr-btn-1 {
            &:nth-child(1) {
                background: #393939;
                .icon {
                    color: #fff;
                    background: #000;
                }

                &:hover {
                    background: var(--as-clr-pr-1);
                }
            }
            &:nth-child(2) {
                background: transparent;
                color: #fff;
                padding: 0;
                gap: 8px;
                i {
                    color: var(--as-clr-pr-1);
                    transform: rotate(-45deg);
                }

                &:hover {
                    color: var(--as-clr-pr-1);
                }
            }
        }
        
    }
    
    &-img {
        &-1 {
            width: 260px;
            height: 175px;
            border-radius: 10px;
            background: linear-gradient(106deg, #ffffff, transparent);
            padding: 4px;
            position: absolute;
            bottom: 53%;
            left: 11%;
            z-index: -2;
            will-change: transform;

            img {
                border-radius: 10px;
            }

            @media #{$md,$xs} {
                display: none;
            }
        }
        &-2 {
            width: 260px;
            height: 175px;
            border-radius: 10px;
            background: linear-gradient(106deg, #ffffff, transparent);
            padding: 4px;
            position: absolute;
            top: 21%;
            right: 16%;
            z-index: -2;
            will-change: transform;

            img {
                border-radius: 8px;
            }

            @media #{$md,$xs} {
                display: none;
            }
        }
    }
    

    &-hand-1 {
        width: 51%;
        position: absolute;
        top: 0;
        left: 50px;
        will-change: transform;

        @media #{$md,$xs} {
            display: none;
        }
    }
    
    &-hand-2 {
        text-align: right;
        width: 49%;
        position: absolute;
        right: 0;
        bottom: 6%;
        z-index: -1;
        will-change: transform;

        @media #{$md,$xs} {
            display: none;
        }
    }
    
    
    &-scroll-btn {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;

        .icon-elm {
            width: 30px;
            height: 50px;
            background: #000;
            border: 1px solid var(--as-clr-pr-1);
            border-radius: 100px;
            position: relative;
            z-index: 1;
            transition: all .5s var(--as-cube-1);
            &::after {
                content: "";
                width: 2px;
                height: 18px;
                background: #fff;
                position: absolute;
                top: 40%;
                left: 45%;
                transform: translate(-50%, -50%);
                opacity: .7;
                animation: bounce2 2s linear infinite;
            }


        }

        .text-elm {
            color: #fff;
            font-size: 14px;
        }

        &:hover {
            .icon-elm {
                background: var(--as-clr-pr-1);
            }
        }
    }
    
}



/* 
    cta-1-end
*/

/* 
    cta-2-end
*/
.as-cta-2 {
    &-wrap {
        max-width: 1650px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;

        @media #{$xl,$lg} {
            align-items: start;
        }
        @media #{$md,$xs} {
            align-items: start;
            grid-template-columns: 1fr;
        }
    }

    &-left {
        &-top {
            display: grid;
            grid-template-columns: 2fr 1fr;
            background-color: #c4c4c4;
            border-radius: 20px;
            gap: 10px;
            padding: 10px;
            margin-bottom: 15px;

            @media #{$lg,$md,$xs} {
                grid-template-columns: 1fr;
            }
        }
    }

    &-booking {
        background: #fff;
        border-radius: 16px;
        padding: 40px 45px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 25px; 
        }

        .title {
            font-size: 36px;
            margin-bottom: 8px;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                font-size: 26px;
            }
        }

        .disc {
            color: #8d8d8d;
            font-size: 20px;
            margin-bottom: 20px;
            

        }

        .btn-x-mail {
            display: flex;
            align-items: center;
            gap: 25px;
            flex-wrap: wrap;
        }

        .mail {
            a {
                color: #000;
                font-weight: 600;
                transition: all .4s var(--as-cube-1);

                &:hover {
                    color: var(--as-clr-pr-1);
                }
            }
        }
    }

    &-manager {
        text-align: center;
        background: #fff;
        border-radius: 20px;
        padding: 24px 20px;

        .img-elm {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 5px solid #ddd;
            display: inline-block;
            margin-bottom: 12px;
        }

        .text-elm {
            font-size: 24px;

            img {
                max-width: 30px;
                margin-top: -10px;
            }
        }
        
    }


    &-projects {
        border-radius: 20px;
        background: #000;
        padding: 40px 70px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 20px;
        }

        &::after {
            content: "";
            width: 400px;
            height: 400px;
            background: var(--as-clr-pr-1);
            position: absolute;
            bottom: -5%;
            left: -13%;
            border-radius: 50%;
            filter: blur(21px);
            opacity: .9;
            z-index: -1;
        }

        .title-x-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;
            margin-bottom: 90px;

            .as-pr-btn-1-v2 {
                background-color: #323232;
            }

        }

        .title {
            color: #fff;
            font-size: 36px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 26px;
            }
        }

        &-ss {
            display: flex;
            justify-content: center;
            perspective: 2000px;
            transform-style: preserve-3d;


            .ss-elm {
                box-shadow: 5px 0 15px #0000004a;

                img {
                    width: 100%;
                }

                                
                &:nth-child(1) {
                    position: relative;
                    z-index: 1;
                }

                
                &:nth-child(2) {
                    margin-left: -40px;
                }

                &:nth-child(3) {
                    transform: rotateY(-40deg) scale3d(1, .9, 1);
                    margin-left: -30px;
                }
                &:nth-child(4) {
                    transform: rotateY(-40deg) scale3d(1, .9, 1);
                    margin-left: -40px;
                }
            }
        }
    }
    
    
    &-form {
        &-wrap {
            background: #000;
            border-radius: 20px;
            padding: 90px 45px;
    
            @media #{$xl,$lg,$md,$xs} {
                padding: 50px 20px;
            }
        }

        &-content {
            margin-bottom: 36px;

            .subtitle {
                display: flex;
                color: #fff;
                font-size: 16px;
                align-items: center;
                gap: 10px;
                font-weight: 400;
                margin-bottom: 12px;
    
                .dot {
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background: var(--as-clr-pr-1);
                    animation: flash 3s linear infinite;
                }
            }

            .title {
                font-size: 36px;
          
                color: #fff;
    
                @media #{$xxl} {
                    font-size: 30px;
                }
                
                @media #{$xl} {
                    font-size: 26px;
                }            
                @media #{$lg,$md,$xs} {
                    font-size: 24px;
                }
            }
        }
    }
    


    &-form {
        .input-box {
            display: grid;
            gap: 40px;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 15px;

            @media #{$xs} {
                grid-template-columns: 1fr;
            }
            @media #{$sm} {
                grid-template-columns: 1fr 1fr;
            }
        }
        &-input {
            height: 50px;
            background: transparent;
            border: none;
            border-bottom: 1px solid rgb(255 255 255 / 20%);
            width: 100%;
            padding: 0 15px;
            font-size: 16px;
            margin-bottom: 15px;
            color: #919191;

            &:is(textarea) {
                height: 120px;
                padding-top: 11px;
            }


            &:focus-within {
                border-color:var(--as-clr-pr-1);
            }

        }

        &-selector {
            font-family: var(--as-font-1);
            height: 50px;
            border-radius: 0;
            color: #919191;
            border: none;
            border-bottom: 1px solid rgb(255 255 255 / 20%);
            font-size: 16px;
            align-items: center;
            display: flex;
            background: transparent;

            &:hover {
                border-color: rgb(255 255 255 / 40%);
            }

            .list {
                width: 100%;
                li {
                    color: #000;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }


        .form-checkbox {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            margin-top: 25px;

            input[type="checkbox"] {
                position: relative;
                border: 1.5px solid rgb(255 255 255 / 50%);
                border-radius: 4px;
                background-color: transparent;
                cursor: pointer;
                margin: 0;
                height: 22px;
                width: 22px;
                -webkit-appearance: none;
                isolation: isolate;

                &::before {
                    content: "";
                    position: absolute;
                    right: 50%;
                    top: 50%;
                    width: 5px;
                    height: 10px;
                    border: solid #000;
                    border-width: 0 2px 2px 0;
                    margin: -1px -1px 0 -1px;
                    transform: rotate(45deg) translate(-50%, -50%);
                    z-index: 2;    
                    opacity: 0;           
                 }
            }

            
            input[type="checkbox"]:checked {
                background-color: var(--as-clr-pr-1);
                opacity: 1;

                &::before {
                    opacity: 1;
                }
            }

            .checkbox-label {
                color: #919191;
            }
              
        }

        .button-x-author {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;
            margin-top: 40px;
        }


        .author {
            display: inline-flex;
            gap: 18px;
            align-items: center;

            &-img {
                width: 55px;
                height: 55px;
                border-radius: 50%;
            }

            &-name {
                font-size: 20px;
                color: #fff;
            }

            &-dg {
                font-size: 15px;
                color: #6a6a6a;
            }
        }
        
        .as-pr-btn-1 {
            background: #fff;
            color: #000;

            &:hover {
                background: var(--as-clr-pr-1);
                color: #fff;
            }
        }
    }
}



/* 
    cta-2-end
*/
/* 
    contact-3-start
*/
.as-contact-3 {
    &-wrap {
        max-width: 1575px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        gap: 55px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-img {
        border-radius: 30px;
        height: 715px;


        @media #{$md} {
            height: 615px;
        }
        @media #{$xs} {
            height: 415px;
        }
    }

    &-content {

        @media #{$xxl,$xl,$lg,$md,$xs} {
            padding: 30px 0;
        }

        .as-cta-2-form {
            &-wrap {
                background-color: #f5f5f5;
                border-radius: 30px;
                padding: 45px 35px;
            }

            &-content {
                margin-bottom: 46px;
                .subtitle {
                    color: #676767;
                    font-size: 20px;

                    span {
                        color: #000;
                        font-size: 13px;
                    }
                }

                .title {
                    color: inherit;
                    font-weight: 600;
                }
            }




        }

        .as-cta-2-form {
            &-input {
                border-color: #DADADA;
            }


            .form-checkbox {
                margin-top: 5px;
                margin-bottom: 24px;

                .checkbox-label {
                    color: #000;
                }
                input[type=checkbox] {
                    border: 1.5px solid rgb(0 0 0 / 20%);
                    background-color: #fff;
                }
            }

            button {
                width: 100%;
                justify-content: center;
            }

            .button-x-author {
                margin-top: 50px;
            }

            .as-about-3-author {
                &-img {
                    transform: scale(.8);
                    margin: -7px -14px;
                }
                &-content {
                    .author-name {
                        color: #000;
                    }
                }
            }

            .form-rating {
                &-icon {
                    font-size: 14px;
                    display: flex;
                    color: var(--as-clr-pr-3);
                    margin-bottom: 5px;
                }

                &-text {
                    color: #727272;
                    font-size: 14px;
                }
            }
        
        }
    }
}

  
/* 
    contact-3-end
*/  
/* 
    contact-4-start
*/  
.as-contact-4 {

    &-area {


    }

    
    &-sec-title {
        display: flex;
        gap: 40px 60px;
        max-width: 1250px;
        align-items: start;
        margin-left: auto;
        z-index: 2;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        .section-title {
            font-weight: 600;
            font-size: 90px;
            margin-bottom: 10px;

            @media #{$xxxl} {
                font-size: 80px;
            }

            @media #{$xxl} {
                font-size: 70px;
            }

            @media #{$xl} {
                font-size: 60px;
            }
            @media #{$lg} {
                font-size: 50px;
            }
            @media #{$md} {
                font-size: 40px;
            }
            @media #{$xs} {
                font-size: 28px;
            }
            @media #{$sm} {
                font-size: 30x;
            }
        }

        .together {
            background: var(--as-clr-pr-1);
            display: inline-block;
            color: #fff;
            font-weight: 600;
            font-style: italic;
            padding: 7px 40px;
            clip-path: polygon(12% 0%, 100% 0%, 88% 100%, 0% 100%);
            font-size: 35px;
            @media #{$xs} {
                font-size: 28px;
            }
            @media #{$sm} {
                font-size: 30x;
            }
        }
    }


    &-social {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 30px;
        max-width: 700px;

        .link-elm {
            background: #fff;
            border-radius: 10px;
            font-size: 20px;
            display: inline-flex;
            align-items: center;
            gap: 42px;
            padding: 13px 20px;
            position: relative;
            z-index: 1;
            transition: var(--as-cube-2);
            font-weight: 600;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--as-clr-pr-1);
                position: absolute;
                left: 0;
                bottom: 0;
                border-radius: 10px;
                z-index: -1;
                transform: scaleY(0);
                transform-origin: bottom;
                transition: var(--as-cube-2);
            }

            .icon {
                width: 36px;
                height: 36px;
                background: var(--as-clr-pr-1);
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                border-radius: 50%;
                color: #fff;
                transition: var(--as-cube-2);
            }

            &:hover {
                color: #fff;
                &::after {
                    transform: scaleY(1);
                }
                .icon {
                    background: #000;
                    color: #fff;
                }
            }
        }

        .as-pr-btn-3 {
            border-radius: 10px;
            font-size: 20px;
            padding: 17px 20px;
        }
    }


    &-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px 60px;
        max-width: 630px;


        @media #{$xl} {
            gap: 30px 40px;
        }

        @media #{$lg} {
            gap: 30px 40px;
            grid-template-columns: 1fr 1fr;
        }
        
        @media #{$md} {
            gap: 30px 40px;
            grid-template-columns: 1fr 1fr 1fr;
        }        
        @media #{$xs} {
            gap: 30px 40px;
            grid-template-columns: 1fr;
        }        
        @media #{$sm} {
            gap: 30px 40px;
            grid-template-columns: 1fr 1fr;
        }

        &-single {
            .icon {
                width: 42px;
                height: 42px;
                background: #f2f2f2;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                display: flex;
                font-size: 18px;
                color: #000;
                 transition: all .4s var(--as-cube-1);
            }

            .title {
                font-size: 24px;
                margin-top: 17px;
                font-weight: 700;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 20px;
                }


            }

            .disc {
                font-size: 15px;
                color: #666666;
                line-height: 2;
                &:nth-of-type(1) {
                    margin-top: 8px;
                }

                b {
                    color: #000;
                }


                a {
                 transition: all .5s var(--nm-cube-1);

                    &:hover {
                        color: var(--nm-clr-pr-1);
                    }
                }
            }

            &:hover {
                .icon {
                    color: var(--as-clr-pr-1);
                }
            }
        }
    }


    &-img {
        margin-top: -110px;
        margin-left: -20px;

        @media #{$lg,$md,$xs} {
            margin-top: 0;
            margin-left: 0;
        }

        &::after {
            content: "";
            width: 200px;
            height: 200px;
            background: #fff;
            position: absolute;
            top: 0px;
            left: 90px;
            z-index: -1;
            border-radius: 50%;
            filter: blur(100px);
            opacity: .5;
        }

        &-location {
            position: absolute;
            right: 40px;
            top: 19%;
            display: flex;
            gap: 15px;

            @media #{$md} {
                right: 210px;
                top: 41%;
            }

            .icon {
                width: 70px;
                height: 70px;
                background: var(--as-clr-pr-1);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }

            .dot-icon {
                width: 51px;
                height: 51px;
                background: rgb(0 0 0 / 50%);
                border-radius: 50%;
                align-self: end;
                margin-right: -20px;
                margin-bottom: -10px;
                position: relative;
                z-index: 1;

                &::after {
                    content: "";
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background: var(--as-clr-pr-1);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    box-shadow: inset 2.598px -1.5px 6px 0px rgba(0, 0, 0, 0.7);
                    animation: nm-c1-l-icon-after 2s linear infinite;
                }
            }
        }
        
        
        
    }

    &-wrap-2 {
        max-width: 1510px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: end;
        gap: 50px;
        margin-top: -210px;

        @media #{$xxxl,$xxl,$xl} {
            margin-top: 0;
            padding-right: 30px;
        }
        @media #{$lg} {
            margin-top: 0;
            padding-right: 30px;
            padding-top: 50px;
        }
        @media #{$md,$xs} {
            margin-top: 0;
            padding-right: 30px;
            padding-top: 50px;
            padding-left: 50px;
            flex-wrap: wrap;
        }


        &::after {
            content: "";
            width: 100%;
            height: 270px;
            border-radius: 20px 20px 0 0;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            @media #{$lg,$md,$xs} {
                height: 100%;
            }
        }

        &-right {
            margin-bottom: 50px;
        }
    }
    
}

@keyframes nm-c1-l-icon-after {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }    
    50% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
/* 
    contact-4-end
*/