/* 
    faqs-1-start
*/

.as-accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-item {
        background-color: #0f0f0f;
        border-radius: 20px;
        border: 1px solid transparent;

        .item-title {
            font-size: 24px;
            background: transparent;
            color: #fff;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 26px 25px;
            text-align: left;
            transition: 0.2s;
            border-bottom: 1px solid transparent;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 20px;
                gap: 10px;
            }

            .text {
                opacity: .4;
                transition: all .5s var(--as-cube-1);
            }


            .icon {
                width: 38px;
                height: 38px;
                background: #3d3d3d;
                font-size: 16px;
                color: #fff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                margin-left: auto;
                transition: all .5s var(--as-cube-1);

                i {
                    transition: .5s;
                }
            }
    
            &:is(:not(.collapsed)) {
                border-color: rgba(255, 255, 255, 10%);
                .icon {
                    background: var(--as-clr-pr-1);
                    color: #000;
                    i {
                        transform: rotate(135deg);
                    }
                }

            }

            &:is(.collapsed) {
                &:hover {
                    .text {
                        color: var(--as-clr-pr-1);
                        opacity: 1;
                    }
                    .icon {
                        background: var(--as-clr-pr-1);
                        color: #000;
                    }
                }
            }

        }
        
        .item-disc {
            padding-bottom: 30px;
            padding-right: 20px;
            padding-left: 25px;
            color: #8c8a8a;
            max-width: 800px;
            padding-top: 25px;
            font-size: 17;

            a {
                color: #fff;
                transition: all .5s var(--as-cube-1);
                &:hover {
                    color: var(--as-clr-pr-1);
                }
            }

        }

        &:is(.active) {
            border-color: rgba(255, 255, 255, 10%);
        }

    }
    
}



.as-faqs-1 {
    &-area {
        background-color: var(--as-clr-h-1);
    }

    &-wrap {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1.28fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-left {
        &-sec-title {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;

            .as-subtitle-1 {
                color: #fff;
            }

            .as-sec-title-1 {
                color: #fff;
            }
            
        }
    }

    &-awards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;
        z-index: 1;

        .bg-shape-1 {
            position: absolute;
            left: 0;
            bottom: -80px;
            z-index: -1;
            animation: h3partnerLeaf 3s linear infinite;    
            animation-delay: 2s;
        }

        .bg-shape-2 {
            position: absolute;
            right: 0;
            bottom: -80px;
            z-index: -1;
            animation: h3partnerLeaf 3s linear infinite;    
        }

        .bg-shape-3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            animation: asFaqsColor 5s linear infinite;
        }

        &-single {
            font-size: 18px;
            color: #fff;
            border-style: solid;
            border-width: 1px;
            border-color: rgb(248 248 248 / 18%);
            border-radius: 10px;
            background-color: rgb(125 125 125 / 20%);
            padding: 18px 29px;

            &:nth-of-type(2) {
                font-size: 24px;
                padding: 18px 40px;
            }
        }
    }


    &-right {
        &-sec-title {
            .as-subtitle-1 {
                color: #fff;
            }

            .as-sec-title-1 {
                color: #fff;
            }
            
        }
    }

    &-tabs {
        &-btn {
            display: flex;
            justify-content: space-around;
            position: relative;
            z-index: 1;

            @media #{$xs} {
                flex-wrap: wrap;
            }

            &-line {
                background: #494949;
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: .8;
            }

            .nav-link {
                color: var(--as-clr-pr-1);
                background: transparent;
                font-size: 30px;
                padding: 15px 15px;
                position: relative;
                z-index: 1;
                 transition: all .5s var(--as-cube-1);

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 20px;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 4px;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    background: var(--as-clr-pr-1);
                    border-radius: 20px;
                      transition: all .5s var(--as-cube-1);
                    transform: scaleX(0);

                }

                &:hover {
                    color: var(--as-clr-pr-1);
                }
                
                &:is(.active) {
                    color: var(--as-clr-pr-1);
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
    
}

@keyframes asFaqsColor {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }    
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* 
    faqs-1-end
*/
/* 
    faqs-2-start
*/
.as-faqs-2 {
    &-area {
        border-radius: 20px;
        margin-top: 24px;
        margin-left: 24px;
        margin-right: 24px;

        @media #{$xxl} {
            margin-left: 10px;
            margin-right: 10px;
        }

        @media #{$xl,$lg,$md,$xs} {
            margin-left: 10px;
            margin-right: 10px;
            padding-bottom: 100px;
        }

        &::after {
            content: "";
            width: 100%;
            height: calc(100% - 140px);
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            z-index: -1;
            border-radius: 20px;

            @media #{$xl,$lg,$md,$xs} {
                height: 100%;
            }
        }
    }
    &-sec-title {
        max-width: 670px;

        .as-subtitle-2 {
            background: linear-gradient(90deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 50%, #F5F5F5 100%);
        }
    }

    &-wrap {
        margin-right: -156px;
        margin-left: -310px;
        gap: 90px;
        display: grid;
        grid-template-columns: 1.07fr 1fr;

        @media #{$xxxl,$xxl,$xl,$lg} {
            margin-right: 0;
            margin-left: 0;
            gap: 50px;
        }
        @media #{$md,$xs} {
            margin-right: 0;
            margin-left: 0;
            gap: 50px;
            grid-template-columns: 1fr;
        }
    }

    &-img {
        border-radius: 20px;
        height: 780px;

        @media #{$xl,$lg} {
            height: 600px;
        }
        @media #{$md} {
            height: 500px;
        }
        @media #{$xs} {
            height: 400px;
        }
    }

    &-accordion {
        .as-accordion {
            gap: 0;
            &-item {
                border-radius: 0;
                border: none;
                border-bottom: 1px solid rgb(10 10 10 / 28%);
                background: transparent;
                .item-title {
                    color: #000;
                    font-size: 20px;
                    border-radius: 0 0 16px 16px;
                    position: relative;
                    z-index: 1;
                    transition: all 0s var(--as-cube-1);

                    .icon {
                        background: transparent;
                        color: #000;
                        width: auto;
                        height: auto;
                    }


                    &:is(:not(.collapsed)) {
    
                    }
        
                    &:is(.collapsed) {
                        &:hover {
                            .text {
                                color: var(--as-clr-pr-1);
                                opacity: 1;
                            }
                            .icon {
                                background: transparent;
                            }
                        }
                    }
        
                }
                

                .item-disc {
                    color: rgb(255 255 255 / 80%);
                    border-radius: 0 0 16px 16px;
                    max-width: 100%;
               
                }

                &:is(.active) {
                    background-color: #000;
                    border-radius: 0 0 16px 16px;
                    .item-title {
                        background: #F5F5F5;
                    }
                }
            }
        }
    }
}


/* 
    faqs-2-end
*/
/* 
    faqs-3-start
*/
.as-faqs-3 {
    &-top {
        height: 995px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        @media #{$xs} {
            height: 495px;
        }
        @media #{$sm} {
            height: 595px;
        }


        &-content {
            max-width: 380px;
            margin-top: 90px;

            .title {
                font-size: 42px;
                font-weight: 600;
                margin-bottom: 20px;

                @media #{$md} {
                    font-size: 38px;
                }
                @media #{$xs} {
                    font-size: 32px;
                }
                @media #{$sm} {
                    font-size: 35px;
                }
            }

            .disc {
                color: #5c5c5c;
            }
        }
        

        &-bg-circle {
            position: absolute;
            z-index: -1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;


            img {
                position: absolute;
            }

            .boll {
                transform: translateY(-100px);
            }

            .circle-1 {
                animation: wa-rotated 10s linear infinite;
            }
            .circle-2 {
                animation: wa-rotated-minus 10s linear infinite;
            }
            .circle-3 {
                animation: wa-rotated 10s linear infinite;
            }
        }

        &-img-1 {
            position: absolute;
            z-index: 1;
            border-radius: 30px;
            width: 240px;
            height: 260px;
            will-change: transform , width , height;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                display: none;
            }


            .inner-video {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                will-change: height;
            }
        }
        &-img-2 {
            position: absolute;
            border-radius: 30px;
            width: 165px;
            height: 160px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                display: none;
            }
        }
        &-img-3 {
            position: absolute;
            border-radius: 30px;
            width: 150px;
            height: 210px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                display: none;
            }
        }
        &-img-4 {
            position: absolute;
            border-radius: 30px;
            width: 240px;
            height: 250px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                display: none;
            }
        }
        &-img-5 {
            position: absolute;
            border-radius: 30px;
            width: 140px;
            height: 160px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                display: none;
            }
        }
        &-img-6 {
            position: absolute;
            border-radius: 30px;
            width: 190px;
            height: 190px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                display: none;
            }
        }
        &-img-7 {
            position: absolute;
            border-radius: 30px;
            width: 180px;
            height: 140px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                display: none;
            }
        }


        &-bg-dot {
            position: absolute;
            top: 5%;
            left: 0;
            width: 100%;
            z-index: -2;

            @media #{$lg,$md,$xs} {
                display: none;
            }
        }
    }


    &-bottom {
        max-width: 844px;
        margin-left: auto;
        margin-right: 90px;

        @media #{$xxxl} {
            max-width: 724px;
            margin-right: 0;
        }
        @media #{$xxl,$xl,$lg,$md,$xs} {
            max-width: 724px;
            margin-right: auto;
        }
    }

    &-accordion {
        padding: 45px 20px;
        border-radius: 30px;
        background-color: #020202;

        .as-accordion {
            gap: 35px;
            &-item {
                border-radius: 0;
                background: transparent;
                border-color: #2B2B2B;
    
    
                .item-title {
                    padding: 18px 20px;
                    border: none;
    
                    .icon {
                        width: auto;
                        height: auto;
                        background: transparent;
                        border: none;
                    }


                    &:is(:not(.collapsed)) {
                        .icon {
                            color: #fff;
                        }
        
                    }
        
                    &:is(.collapsed) {
                        &:hover {
                            .icon {
                                background: transparent;
                                color: var(--as-clr-pr-3);
                            }
                        }
                    }
                }
    
                .item-disc {
                    color: #b3b3b3;
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }
    }
}


.as-faqs-3-bottom-height {
    @media #{$over,$xxxl} {
        height: 1600px; 
    }
}

/* 
    faqs-3-end
*/
/* 
    faqs-4-start
*/
.faqs-x-partner {
    background-color: #0f0f0f;

    &-bg-noise {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.08;
        z-index: -2;
    }

    &-bg-line {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        opacity: 5%;

        .line {
            width: 1px;
            height: 100%;
            background: #fff;
        }
    }
}



.as-faqs-4-area {
    .as-faqs-1 {
        &-wrap {
            gap: 75px;
            grid-template-columns: 1fr 1.4fr;
            align-items: start;
            @media #{$md,$xs} {
                grid-template-columns: 1fr ;
                gap: 50px;
            }
        }

        &-left {
            position: sticky;
            top: 0;

            @media #{$md,$xs} {
                position: unset;
            }
        }

        &-right {
            &-sec-title {
                .as-subtitle-4 {
                    color: #fff;
                    &-wrap {
                        background-color: #333333;
                        margin-bottom: 25px;


                        &::before {
                            background: linear-gradient(-90deg, #171717 20%, transparent);
                        }
                        &::after {
                            background: linear-gradient(90deg, #171717 20%, transparent);
                        }
                    }
                }

                .as-sec-title-1 {
                    font-weight: 600;
                    font-size: 90px;
                    letter-spacing: 0;
             

                    span {
                        opacity: .5;
                    }

                    @media #{$xxxl} {
                        font-size: 80px;
                    }
        
                    @media #{$xxl} {
                        font-size: 70px;
                    }
        
                    @media #{$xl} {
                        font-size: 60px;
                    }
                    @media #{$lg} {
                        font-size: 50px;
                    }
                    @media #{$md} {
                        font-size: 40px;
                    }
                    @media #{$xs} {
                        font-size: 28px;
                    }
                    @media #{$sm} {
                        font-size: 30x;
                    }
                }
            }
        }

        &-tabs-btn {
            .nav-link {
                color: #393939;

                &:hover {
                    color: var(--as-clr-pr-1);
                }
                &:is(.active) {
                    color: var(--as-clr-pr-1);
                }
            }
        }

    }

    .as-cta-2 {
        &-form {
            &-wrap {
                background: #000;
                border-radius: 20px;
                padding: 50px 45px;
                margin-top: 40px;

                @media #{$lg} {
                    padding: 50px 20px;
                }
                @media #{$md,$xs} {
                    padding: 50px 20px;
                    margin-top: 0;
                }
            }


            &-input {
                color: #696969;
                border-bottom: 1px solid #494949;
            }

            .form-checkbox {
                margin-top: 5px;
            }

            .button-x-author {
                margin-top: 30px;
            }
        }
    }
}

.as-faqs-4-left-icon {
    text-align: center;
    color: var(--as-clr-pr-1);
    font-size: 220px;
    margin-top: -70px;

    i {
        transform-origin: center;
        will-change: transform;
    }


}

/* 
    faqs-4-end
*/