/* 
    faqs-1-start
*/

.as-accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-item {
        background-color: #0f0f0f;
        border-radius: 20px;
        border: 1px solid transparent;

        .item-title {
            font-size: 24px;
            background: transparent;
            color: #fff;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 26px 25px;
            text-align: left;
            transition: 0.2s;
            border-bottom: 1px solid transparent;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 20px;
                gap: 10px;
            }

            .text {
                opacity: .4;
                transition: all .5s var(--as-cube-1);
            }


            .icon {
                width: 38px;
                height: 38px;
                background: #3d3d3d;
                font-size: 16px;
                color: #fff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                margin-left: auto;
                transition: all .5s var(--as-cube-1);

                i {
                    transition: .5s;
                }
            }
    
            &:is(:not(.collapsed)) {
                border-color: rgba(255, 255, 255, 10%);
                .icon {
                    background: var(--as-clr-pr-1);
                    color: #000;
                    i {
                        transform: rotate(135deg);
                    }
                }

            }

            &:is(.collapsed) {
                &:hover {
                    .text {
                        color: var(--as-clr-pr-1);
                        opacity: 1;
                    }
                    .icon {
                        background: var(--as-clr-pr-1);
                        color: #000;
                    }
                }
            }

        }
        
        .item-disc {
            padding-bottom: 30px;
            padding-right: 20px;
            padding-left: 25px;
            color: #8c8a8a;
            max-width: 800px;
            padding-top: 25px;
            font-size: 17;

            a {
                color: #fff;
                transition: all .5s var(--as-cube-1);
                &:hover {
                    color: var(--as-clr-pr-1);
                }
            }

        }

        &:is(.active) {
            border-color: rgba(255, 255, 255, 10%);
        }

    }
    
}



.as-faqs-1 {
    &-area {
        background-color: var(--as-clr-h-1);
    }

    &-wrap {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1.28fr;
    }

    &-left {
        &-sec-title {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;

            .as-subtitle-1 {
                color: #fff;
            }

            .as-sec-title-1 {
                color: #fff;
            }
            
        }
    }

    &-awards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;
        z-index: 1;

        .bg-shape-1 {
            position: absolute;
            left: 0;
            bottom: -80px;
            z-index: -1;
            animation: h3partnerLeaf 3s linear infinite;    
            animation-delay: 2s;
        }

        .bg-shape-2 {
            position: absolute;
            right: 0;
            bottom: -80px;
            z-index: -1;
            animation: h3partnerLeaf 3s linear infinite;    
        }

        .bg-shape-3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }

        &-single {
            font-size: 18px;
            color: #fff;
            border-style: solid;
            border-width: 1px;
            border-color: rgb(248 248 248 / 18%);
            border-radius: 10px;
            background-color: rgb(125 125 125 / 20%);
            padding: 18px 29px;

            &:nth-of-type(2) {
                font-size: 24px;
                padding: 18px 40px;
            }
        }
    }


    &-right {
        &-sec-title {
            .as-subtitle-1 {
                color: #fff;
            }

            .as-sec-title-1 {
                color: #fff;
            }
            
        }
    }

    &-tabs {
        &-btn {
            display: flex;
            justify-content: space-around;
            position: relative;
            z-index: 1;

            @media #{$xs} {
                flex-wrap: wrap;
            }

            &-line {
                background: #494949;
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: .8;
            }

            .nav-link {
                color: var(--as-clr-pr-1);
                background: transparent;
                font-size: 30px;
                padding: 15px 15px;
                position: relative;
                z-index: 1;
                 transition: all .5s var(--as-cube-1);

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 20px;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 4px;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    background: var(--as-clr-pr-1);
                    border-radius: 20px;
                      transition: all .5s var(--as-cube-1);
                    transform: scaleX(0);

                }

                &:hover {
                    color: var(--as-clr-pr-1);
                }
                
                &:is(.active) {
                    color: var(--as-clr-pr-1);
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
    
}



/* 
    faqs-1-end
*/
/* 
    faqs-2-start
*/
.as-faqs-2 {
    &-area {
        border-radius: 20px;
        margin-top: 24px;
        margin-left: 24px;
        margin-right: 24px;

        @media #{$xxl} {
            margin-left: 10px;
            margin-right: 10px;
        }

        @media #{$xl,$lg,$md,$xs} {
            margin-left: 10px;
            margin-right: 10px;
            padding-bottom: 100px;
        }

        &::after {
            content: "";
            width: 100%;
            height: calc(100% - 140px);
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            z-index: -1;
            border-radius: 20px;

            @media #{$xl,$lg,$md,$xs} {
                height: 100%;
            }
        }
    }
    &-sec-title {
        max-width: 670px;

        .as-subtitle-2 {
            background: linear-gradient(90deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 50%, #F5F5F5 100%);
        }
    }

    &-wrap {
        margin-right: -156px;
        margin-left: -310px;
        gap: 90px;
        display: grid;
        grid-template-columns: 1.07fr 1fr;

        @media #{$xxxl,$xxl,$xl,$lg} {
            margin-right: 0;
            margin-left: 0;
            gap: 50px;
        }
        @media #{$md,$xs} {
            margin-right: 0;
            margin-left: 0;
            gap: 50px;
            grid-template-columns: 1fr;
        }
    }

    &-img {
        border-radius: 20px;
        height: 780px;

        @media #{$xl,$lg} {
            height: 600px;
        }
        @media #{$md} {
            height: 500px;
        }
        @media #{$xs} {
            height: 400px;
        }
    }

    &-accordion {
        .as-accordion {
            gap: 0;
            &-item {
                border-radius: 0;
                border: none;
                border-bottom: 1px solid rgb(10 10 10 / 28%);
                background: transparent;
                .item-title {
                    color: #000;
                    font-size: 20px;
                    border-radius: 0 0 16px 16px;
                    position: relative;
                    z-index: 1;
                    transition: all 0s var(--as-cube-1);

                    .icon {
                        background: transparent;
                        color: #000;
                        width: auto;
                        height: auto;
                    }


                    &:is(:not(.collapsed)) {
    
                    }
        
                    &:is(.collapsed) {
                        &:hover {
                            .text {
                                color: var(--as-clr-pr-1);
                                opacity: 1;
                            }
                            .icon {
                                background: transparent;
                            }
                        }
                    }
        
                }
                

                .item-disc {
                    color: rgb(255 255 255 / 80%);
                    border-radius: 0 0 16px 16px;
                    max-width: 100%;
               
                }

                &:is(.active) {
                    background-color: #000;
                    border-radius: 0 0 16px 16px;
                    .item-title {
                        background: #F5F5F5;
                    }
                }
            }
        }
    }
}


/* 
    faqs-2-end
*/