/* 
    footer-1-start
*/
.as-footer-1 {
    &-area {
        background-color: #000;
    }

    &-wrap {
        max-width: 1590px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        flex-wrap: wrap;
    }


    &-widget {
        // flex: 0 0 auto;
        &-title {
            font-size: 24px;
            color: #fff;
            margin-bottom: 20px;
        }

        &:nth-child(1) {
            flex: 0 0 auto;
            max-width: 395px;
            width: 100%;
        }
    }
    
    &-menu {
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
            color: #f2f2f2;
            position: relative;
            z-index: 1;
            transition: all .5s var(--as-cube-1);

            &::after {
                content: "";
                width: 8px;
                height: 2px;
                background: var(--as-clr-pr-1);
                position: absolute;
                top: 50%;
                left: -16px;
                transform: translateY(-50%) scaleX(0);
                transform-origin: left;
                transition: all .5s var(--as-cube-1);
            }

            &:hover {
                transform: translateX(16px);
                color: var(--as-clr-pr-1);
                &::after {
                    transform: translateY(-50%) scaleX(1);
                }
            }
        }
    }


    &-big-email {
        color: #fff;
        font-size: 48px;
        border-radius: 30px;
        padding: 11px 74px;
        transition: all .4s var(--as-cube-1);
        animation: f1bigEmail 2s linear infinite;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: var(--as-clr-pr-1);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 30px;
            transition: all .5s var(--as-cube-1);
        }

        &:hover {
            color: #fff;
            transform: scale(.95);

            &::after {
                width: 0%;
            }
        }

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            font-size: 28px;
            padding: 6px 34px;
        }
    }
    
    &-newsletter {
        width: 100%;

        .title {
            color: #fff;
            display: flex;
            gap: 11px;
            font-size: 24px;
            margin-bottom: 5px;
        }

        .disc {
            color: #a6a6a6;
            margin-bottom: 16px;
        }

        &-form {
            &-input {
                height: 60px;
                width: 100%;
                font-family: var(--as-font-1);
                border-radius: 20px;
                background: #000;
                border: 1px solid rgb(54 54 54 / 70%);
                color: rgb(255 255 255 / 70%);
                font-size: 14px;
                padding-left: 20px;
                padding-right: 130px;
            }

            &-btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 8px;
                padding: 10px 25px;
                background: var(--as-clr-pr-1);
                border-radius: 16px;

                &:hover {
                    background: #fff;
                    color: var(--as-clr-h-1);
                }
            }
            
        }
    }


    &-bottom {
        border-top: 1px solid rgba(95, 95, 95, 0.3);
        max-width: 1060px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        padding: 21px 0;

        &-link {
            .link-elm {
                color: #acacac;
                transition: all .5s var(--as-cube-1);

                &:hover {
                    color: var(--as-clr-pr-1);
                }
            }
        }
    }
    
    &-copyright {
        color: #acacac;

        span {
            color: #fff;
        }
    }
    
    &-make {
        color: #acacac;
        i {
            color: var(--as-clr-pr-1);
        }
        a {
            color: #fff;
            transition: all .5s var(--as-cube-1);

            &:hover {
                color: var(--as-clr-pr-1);
            }
        }
    }
}


@keyframes f1bigEmail {
    0% {
        box-shadow: 0px 0px 0px 0px rgb(253 63 0);
    }
    50% {
        box-shadow: 0px 0px 27px 0px rgb(253 63 0);
    }
    100% {
        box-shadow: 0px 0px 0px 0px rgb(253 63 0);
    }
}


/* 
    footer-1-end
*/
/* 
    footer-2-start
*/
.as-footer-2 {
    &-area {
        background: #000;
        border-radius: 20px;
        margin-left: 24px;
        margin-right: 24px;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    &-big-title {
        font-size: 148px;
        color: #fff;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.02em;

        @media #{$xxxl} {
            font-size: 130px;
        }
        @media #{$xxl} {
            font-size: 120px;
        }
        @media #{$xl} {
            font-size: 110px;
        }
        @media #{$lg} {
            font-size: 90px;
        }
        @media #{$md} {
            font-size: 70px;
        }
        @media #{$xs} {
            font-size: 30px;
        }
        @media #{$sm} {
            font-size: 50px;
        }

        i {
            font-size: 100px;
            color: var(--as-clr-pr-1);
            transform: rotate(-45deg);

            @media #{$xl} {
                font-size: 90px;
            }
            @media #{$lg} {
                font-size: 80px;
            }
            @media #{$md} {
                font-size: 70px;
            }
            @media #{$xs} {
                font-size: 50px;
            }
            @media #{$sm} {
                font-size: 60px;
            }
        }
    }

    &-big-title-wrap {
        margin-bottom: 30px;

        .as-footer-2-big-title {
            transition: all .5s var(--as-cube-1);

            &:nth-child(2) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                transform: translateY(100%);
                color: var(--as-clr-pr-1);
            }
        }

        &:hover {
            .as-footer-2-big-title {
                &:nth-child(1) {
                    transform: translateY(-100%);
                }
                &:nth-child(2) {
                    transform: translateY(0%);
                }
            }
        }
    }

    &-line {
        width: 100%;
        height: 1px;
        background: #fff;
        opacity: 24%;
    }

    &-wrap {
        border-right: 1px solid rgb(255 255 255 / 24%);
        margin-right: -270px;
        display: grid;
        grid-template-columns: 1.61fr 1fr;
        gap: 120px;

        @media #{$xxl,$xl,$lg} {
            gap: 50px;
            margin-right: 0;
        }
        @media #{$md,$xs} {
            gap: 50px;
            margin-right: 0;
            grid-template-columns: 1fr;
            border-right: none;
        }
    }

    &-left {
        margin-top: 60px;

        
        @media #{$xxl,$xl,$lg,$md,$xs} {
            padding-bottom: 50px;
        }

        .inner-div {
            display: flex;
            align-items: center;
            gap: 30px;

            @media #{$xs} {
                flex-wrap: wrap;
            }

            &-line {
                height: 2px;
                width: 100%;
                background: #454545;
            }
        }
    }

    &-logo {
        max-width: 200px;
        margin-bottom: 35px;
    }

    &-disc {
        color: #fff;
        opacity: 80%;
        max-width: 570px;
        margin-bottom: 130px;
    }

    &-contact {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
        max-width: 740px;
        margin-bottom: 140px;

        &-item {
            max-width: 320px;
            
            .item-disc {
                display: flex;
                align-items: baseline;
                gap: 15px;
                color: rgb(255 255 255 / 80%);
                margin-bottom: 15px;


                i {
                    color: var(--as-clr-pr-1);
                }



                &:is(a) {
                    transition: all .5s var(--as-cube-1);

                    &:hover {
                        color: var(--as-clr-pr-1);
                    }
                }
            }

            .item-title {
                font-size: 20px;
                color: #fff;
                margin-bottom: 22px;

                i {
                    color: var(--as-clr-pr-1);
                }
                
            }
        }
    }

    &-copyright {
        flex: 0 0 auto;

        a {
            color: #fff;
            transition: all .5s var(--as-cube-1);

            &:hover {
                color: var(--as-clr-pr-1);
            }
        }
    }

    &-social {
        flex: 0 0 auto;
        display: flex;
        gap: 10px;

        a {
            display: flex;
            flex: 0 0 auto;
            width: 48px;
            height: 48px;
            border: 1px solid #454545;
            border-radius: 50%;
            color: rgb(255 255 255 / 60%);
            align-items: center;
            justify-content: center;
            transition: all .5s var(--as-cube-1);

            &:hover {
                border-color: var(--as-clr-pr-1);
                color: var(--as-clr-pr-1);
            }
        }
    }

    &-menu {
        border-left: 1px solid #454545;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            width: 1px;
            height: 100px;
            background-color: #454545;
            position: absolute;
            left: -1px;
            top: 100%;
        }

        li {
            border-bottom: 1px solid #454545;
        }
        a {
            color: rgb(255 255 255 / 80%);
            font-size: 28px;
            width: 100%;
            font-weight: 400;
            padding: 44px 48px;
            display: flex;
            transition: all .5s var(--as-cube-1);

            @media #{$xxl,$xl,$lg,$md,$xs} {
                padding: 24px 20px;
            }
            
            .text {
                position: relative;
                z-index: 1;
                overflow: hidden;
                line-height: 1;
                margin-bottom: -2px;
        
                &::after {
                    top: 0;
                    left: 0;
                    opacity: 0;
                    width: 100%;
                    display: block;
                    transition: all 0.5s var(--as-cube-1);
                    position: absolute;
                    content: attr(data-back);
                    transform: translateY(100%);
                }
            
                &::before {
                    top: 0;
                    left: 0;
                    opacity: 1;
                    display: block;
                    transition: all 0.5s var(--as-cube-1);
                    position: relative;
                    content: attr(data-front);
                    transform: translateY(0);
                }
            }
        
            &:hover {
                background-color: var(--as-clr-pr-1);
                .text {
                    &::after {
                        opacity: 1;
                        transform: translateY(0%);
                    }
                    &::before {
                        opacity: 0;
                        transform: translateY(-100%);
                    }
                }
            }
        
        }
    }
    
}

/* 
    footer-2-end
*/