/*
    15. header
*/

/* 
    header-1-start
*/
.as-header-1 {
    &-area {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    &-wrap {
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        padding-right: 8px;
        padding-left: 30px;
        gap: 20px;

        @media #{$md,$xs} {
            padding: 5px 10px;
        }
    }

    &-action-link {
        .as-pr-btn-1 {
            padding: 7px 15px;
            background: var(--as-clr-pr-1);

            &:hover {
                background: #000;
            }
        }
    }

    &-menu {
        margin-left: -30px;
        transition: all .5s var(--as-cube-1);
        width: 0px;
        overflow: hidden;
        > ul {
            transform: translateX(10px);
            opacity: 0;
            transition: all .5s var(--as-cube-1);
            flex-wrap: nowrap;
            transition-delay: 0s;
            visibility: hidden;
        }


        &:is(.show) {
            overflow: visible;
            margin-left: 0px;
            width: 450px;

            > ul {
                transform: translateX(0px);
                opacity: 1;
                transition-delay: .3s;
                visibility: visible;
            }
        }
    }

    &-menu-toggle-btn {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        span {
            width: 100%;
            height: 2px;
            background-color: var(--as-clr-h-1);
            transition: all .5s var(--as-cube-1);
        }

        &:hover {
            span {
                background: var(--as-clr-pr-1)
            }
        }

        &:is(.active) {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg) translateY(5px) translateX(5px);
                }
                &:nth-child(2) {
                    transform: rotate(-45deg) translateY(-4px) translateX(3px);
                }
            }
        }

        @media #{$md,$xs} {
            display: none;
        }
    }
}




.as-main-navigation {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 55px;

        li {
            flex: 0 0 auto;

            a {
                position: relative;
                z-index: 1;
                font-family: var(--as-font-1);
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                text-decoration: none;
                color: var(--as-clr-h-1);
                padding: 16px 0;
                display: inline-flex;
                align-items: center;
                transition: all .5s var(--as-cube-1);
            }

            &:is(.dropdown) {
                > a {
                    padding-right: 18px;

                    &::before {
                        display: block;
                        content: "\f103";
                        font-family: "Font Awesome 6 free";
                        font-weight: 700;
                        position: absolute;
                        font-size: 15px;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
    
            &:hover {

                > a {
                    color: var(--as-clr-pr-1);
                }
                > .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);

                    li {
                        animation: fadeInDown .3s var(--as-cube-1) backwards;

                        @for $i from 1 through 20 {
                            &:nth-child(#{$i}) {
                                animation-delay: #{($i * 70)}ms;
                            }
                        }
                    }
                }
            }
    
            .dropdown-menu {
                left: 0;
                top: 100%;
                z-index: 100;
                margin: 0px;
                padding: 15px 0px;
                height: auto;
                min-width: 200px;
                display: block;
                border-radius: 8px;
                position: absolute;
                background: #fff;
                text-align: left;
                opacity: 0;
                visibility: hidden;
                transform: scaleY(0);
                transform-origin: top;
                transition: all .5s var(--as-cube-1);
            
                li {
                    display: block;
                    margin: 0;
    
                    &::after {
                        display: none;
                    }

                    a {
                        font-weight: 400;
                        width: 100%;
                        display: block;
                        padding: 9px 20px;
                        padding-left: 30px;
                    }


                    &:is(.dropdown) {
                        > a {
                            padding-right: 13px;
                            &::before {
                                display: block;
                                content: "\f107";
                                font-family: "Font Awesome 6 free";
                                font-weight: 700;
                                position: absolute;
                                font-size: 11px;
                                right: 20px;
                                top: 51%;
                                transform: translateY(-50%);
                                opacity: 42%;
                            }
                        }
                    }

                    &:hover {
                        > a {
                            transform: translateX(5px);
                        }
                    }
   
    
                    .dropdown-menu {
                        top: 0;
                        left: 100%;
                    }
    
                }
            }
            
    

        }


        
    }
}

/* 
    header-1-end
*/
/* 
    header-2-start
*/
.as-header-2 {
    &-area {
        position: absolute;
        top: 34px;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    &-container {
        max-width: 1790px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
    &-logo {
        max-width: 160px;
    }

    &-action-link {
        display: flex;
        align-items: center;
        gap: 30px;

        .as-phone-btn-1 {
            @media #{$xs} {
                display: none;
            }            
            @media #{$sm} {
                display: inline-flex;
            }
        }
    }
}


/* 
    header-2-end
*/

/* 
    header-3-start
*/
.as-header-3 {
    &-area {
        position: fixed;
        left: 0;
        bottom: calc(100% - 865px);
        width: 100%;
        z-index: 3;
        transition: var(--as-cube-2);

        @media #{$xxxl} {
            bottom: calc(100% - 805px);
        }
        @media #{$xxl} {
            bottom: calc(100% - 740px);
        }
        @media #{$xl} {
            bottom: calc(100% - 710px);
        }
        @media #{$lg} {
            bottom: calc(100% - 650px);
        }
        @media #{$md} {
            bottom: calc(100% - 700px);
        }
        @media #{$xs} {
            bottom: calc(100% - 700px);
        }
        @media #{$sm} {
            bottom: calc(100% - 700px);
        }
    }

    &-wrap {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
        padding: 15px 20px;
        border-radius: 100px;
        position: relative;
        z-index: 1;
        transition: var(--as-cube-2);

        @media #{$xl} {
            gap: 30px;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(1, 20, 76, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 100px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(5px);
            transition: var(--as-cube-2);
        }
    }

    &-logo {
        background-color: #fff;
        border-radius: 50%;
        padding: 5px;
    }

    &-action-link {
        gap: 30px;
        display: flex;
        align-items: center;
        .as-pr-btn-3 {
            padding: 17px 49px;

            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: inline-flex;
            }
        }

        .sr-offcanvas-btn-1  {
            border-radius: 50%;
            color: #fff;
            border-color: #fff;
            &:hover {
                color: var(--as-clr-pr-3);
                border-color: var(--as-clr-pr-3);
            }
        }
    }
}


.as-main-navigation {
    &:is(.as-header-3-menu) {
        .navbar-nav {
            gap: 0;
            li {
                a {
                    color: #fff;
                    padding: 12px 32px;

                    @media #{$xxxl,$xxl,$xl} {
                        padding: 10px 15px;
                    }

                    &::before {
                        display: none !important;
                    }
                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(90deg, #ffffff, #000000);
                        border-radius: 100px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        transition: var(--as-cube-2);
                        opacity: 0;
                        transform: translateX(5px);
                    }

                    &:is(.active) {
                        &::after {
                            opacity: 1;
                            transform: translateX(0px);
                        }
                    }
                }

                &:hover {
                    > a {
                        &::after {
                            opacity: 1;
                            transform: translateX(0px);
                        }
                    }
                }

                .dropdown-menu {
                    top: unset;
                    bottom: 100%;
                    transform-origin: bottom;
                    background-color: rgba(1, 20, 76,);

                    li {
                        &:hover {
                            > a {
                                transform: unset;
                            }
                        }


                        .dropdown-menu {
                            top: unset;
                            bottom: 0%;
                        }
                    }
                }
            }
        }
    }
}


.as-header-3-area {
    &:is(.has-sticky) {
        bottom: 30px;
        .as-header-3-wrap{
            box-shadow: -1.394px 15.939px 71.54px 1.46px rgba(0, 0, 0, 0.33);
            &::after {
                background-color: rgb(220 220 220 / 80%);
            }
        }


        .as-main-navigation:is(.as-header-3-menu) .navbar-nav {
            li {
                a {
                    color: #000;

                    &::after {
                        background-image: linear-gradient( 90deg, rgb(197,197,197) 0%, rgb(240,240,240) 100%);
                    }
                }
                .dropdown-menu {
                    background-color: rgb(220 220 220);
                    box-shadow: 0px -5.061px 11.54px 1.46px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}


/* 
    header-3-end
*/

/* 
    header-4-start
*/
.as-header-4 {
    &-area {
        position: fixed;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;

        @media #{$lg,$md,$xs} {
            display: none;
        }
    }
}

.as-main-navigation {
    &:is(.as-header-4-menu) {
        background: rgb(94 92 93 / 50%);
        backdrop-filter: blur(10px);
        border-radius: 100px;
        padding: 11px 10px;

        .navbar-nav {
            flex-direction: column;
            gap: 16px;

            li {
                flex: 0 0 auto;
                position: relative;
                a {
                    flex: 0 0 auto;
                    color: #fff;
                    padding: 0;
                    font-size: 20px;
                    width: 45px;
                    height: 45px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;

                    &::before {
                        display: none;
                    }
                }

                &:hover {
                    > a {
                        background: rgb(255 255 255 / 20%);
                    }
                    
                }


                .dropdown-menu {
                    left: unset;
                    top: 10px;
                    right: calc(100% + 20px);
                    background: rgb(255 255 255 / 20%);
                    border-radius: 100px 0 0 100px;
                    text-align: right;
                    padding: 0;
                    min-width: auto;
                    width: max-content;
                    transform-origin: right;
                    transition: .2s;

                    li {
                        width: 100%;
                        a {
                            width: 100%;
                            font-size: 16px;
                            background: transparent;
                            height: auto;
                            padding: 4px 15px;
                            padding-left: 23px;
                        }



                        &:hover {
                            > a {
                                transform: unset;
                                color: var(--as-clr-pr-3);
                            }
                        }



                    }
                }


                &:nth-child(1) {
                    .dropdown-menu {
                        border-radius: 10px 0 0 10px;
                        padding: 5px 0;
                    }
                }
            }
        }
    }
}
/* 
    header-4-end
*/




/* 
    sticky-header-css-start
*/


.wa_sticky_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: 400ms ease-in-out;
    z-index: 8;
  
  
    &:is(.wa_sticky) {
        transform: translateY(-190%);
  
        &:is(.wa_sticky_show) {
            transform: translateY(0%);
        }
    }
  
    &:is(.sr-header-1-area) {
        top: 24px;
        &:is(.wa_sticky_show) {
            // background-color: #000;

            .sr-header-1-wrap {
                background-color: #fff;
                box-shadow: 1px 10px 11px rgb(0 0 0 / 4%);
            }

            &:is(.has-header-2) {
                .sr-header-1-wrap {
                    background-color: #000;
                    box-shadow: 0px 2px 16px rgb(255 255 255 / 10%);
                }
            }
        }
    }  

  
}
  
  
/* 
    sticky-header-css-end
*/