/* 
    marquee-text-1-start
*/
.as-marquee-text-1 {
    &-area {
        padding: 80px 0;
    }
    &-wrap {
        &-1 {
            background: #000;
            transform: rotate(4deg);
            overflow: hidden;
            padding: 10px 0;
            transform-origin: 25% 50%;
            margin-left: -10px;
            margin-right: -10px;
        }
        &-2 {
            background: var(--as-clr-pr-1);
            transform: rotate(-4deg);
            overflow: hidden;
            padding: 15px 0;
            transform-origin: 25% 50%;
            margin-left: -10px;
            margin-right: -10px;
        }
    }
    &-content {
        display: flex;
        gap: 30px;
        align-items: center;

        .text-elm {
            color: #fff;
            font-size: 36px;
            flex: 0 0 auto;
        }

        img {
            flex: 0 0 auto;
        }
    }
}

/* 
    marquee-text-1-end
*/
/* 
    marquee-text-2-start
*/
.as-marquee-text-2 {
    &-wrap {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-right: 40px;
    }
    
    &-text {
        font-size: 140px;
        font-weight: 700;
        color: #E7E7E7;
        flex: 0 0 auto;
        line-height: 1;
        display: flex;
        gap: 40px;
        align-items: center;

        @media #{$lg,$md} {
            font-size: 100px;
        }
        @media #{$xs} {
            font-size: 50px;
        }

        i {
            font-size: 95px;
            @media #{$lg,$md} {
                font-size: 60px;
            }
            @media #{$xs} {
                font-size: 30px;
            }
    
        }
    }
}

/* 
    marquee-text-2-end
*/
/* 
    marquee-text-3-start
*/
.as-marquee-text-3 {
    &-wrap {
        display: flex;
        align-items: center;
        gap: 30px;

        .text-elm {
            font-size: 130px;
            font-weight: 600;
            color: #000;
            flex: 0 0 auto;

            @media #{$xxxl} {
                font-size: 120px;
            }
            @media #{$xxl} {
                font-size: 110px;
            }
            @media #{$xl} {
                font-size: 100px;
            }
            @media #{$lg} {
                font-size: 90px;
            }
            @media #{$md} {
                font-size: 80px;
            }
            @media #{$xs} {
                font-size: 60px;
            }
            @media #{$sm} {
                font-size: 70px;
            }
        }

        .img-elm {
            border-radius: 20px;
            width: 190px;
            height: 130px;
            flex: 0 0 auto;

            @media #{$md} {
                width: 160px;
                height: 120px;
            }
            @media #{$xs} {
                width: 120px;
                height: 100px;
            }
            @media #{$sm} {
                width: 140px;
                height: 110px;
            }
        }
    }
}

/* 
    marquee-text-3-end
*/
/* 
    marquee-text-4-start
*/
.as-marquee-text-4 {
    &-area {
        margin-top: -180px;
        background-color: #000;

        @media #{$xl} {
            margin-top: -90px;
        }
        @media #{$lg} {
            margin-top: -60px;
        }

        @media #{$md} {
            margin-top: -50px;
        }
        @media #{$xs} {
            margin-top: 0px;
        }

        .wa_marquee_left_nopause {
            margin-top: -110px;
        }


        &::after {
            content: "";
            width: 100%;
            height: 320px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(180deg, rgb(0 0 0 / 0%), #000000);
        }
    }

    &-text {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-right: 40px;

        .text-elm {
            flex: 0 0 auto;
            color: #fff;
            font-size: 100px;

            @media #{$xxxl} {
                font-size: 90px;
            }
            @media #{$xxl} {
                font-size: 80px;
            }
            @media #{$xl} {
                font-size: 70px;
            }
            @media #{$lg} {
                font-size: 60px;
            }
            @media #{$md} {
                font-size: 70px;
            }
            @media #{$xs} {
                font-size: 50px;
            }
            @media #{$sm} {
                font-size: 60px;
            }
        }

        i {
            color: var(--as-clr-pr-1);
            font-size: 50px;
            flex: 0 0 auto;
        }
    }
}

/* 
    marquee-text-4-end
*/
/* 
    marquee-text-5-start
*/
.as-marquee-5 {
    &-area {
        background: linear-gradient( -92deg, rgb(0,0,0) 0%, rgb(16,16,16) 100%);
    }

    &-active {
        margin-bottom: -8px;
    }

    &-counter {
        &-wrap {
            display: flex;
        }
    }

    &-counter {
        display: flex;
        align-items: center;
        gap: 26px;
        flex: 0 0 auto;
        padding: 16px 60px;
        position: relative;
        z-index: 1;

        @media #{$xs} {
            padding: 16px 30px;
        }

        &::after {
            content: "";
            width: 2px;
            height: 70%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 100%);
            opacity: .5;
        }

        .number {
            font-size: 48px;
            line-height: 1;
            font-weight: 700;
            color: #D0D0D0;
        }

        .disc {
            max-width: 100px;
            color: #808080;
            line-height: 1.3;
        }
    }
}


/* 
    marquee-text-5-end
*/