/* 
    marquee-text-1-start
*/
.as-marquee-text-1 {
    &-area {
        padding: 80px 0;
    }
    &-wrap {
        &-1 {
            background: #000;
            transform: rotate(4deg);
            overflow: hidden;
            padding: 10px 0;
            transform-origin: 25% 50%;
            margin-left: -10px;
            margin-right: -10px;
        }
        &-2 {
            background: var(--as-clr-pr-1);
            transform: rotate(-4deg);
            overflow: hidden;
            padding: 15px 0;
            transform-origin: 25% 50%;
            margin-left: -10px;
            margin-right: -10px;
        }
    }
    &-content {
        display: flex;
        gap: 30px;
        align-items: center;

        .text-elm {
            color: #fff;
            font-size: 36px;
            flex: 0 0 auto;
        }

        img {
            flex: 0 0 auto;
        }
    }
}

/* 
    marquee-text-1-end
*/
/* 
    marquee-text-2-start
*/
.as-marquee-text-2 {
    &-wrap {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    
    &-text {
        font-size: 140px;
        font-weight: 700;
        color: #E7E7E7;
        flex: 0 0 auto;
        line-height: 1;
        display: flex;
        gap: 40px;
        align-items: center;

        @media #{$lg,$md} {
            font-size: 100px;
        }
        @media #{$xs} {
            font-size: 50px;
        }

        i {
            font-size: 95px;
            @media #{$lg,$md} {
                font-size: 60px;
            }
            @media #{$xs} {
                font-size: 30px;
            }
    
        }
    }
}

/* 
    marquee-text-2-end
*/