/* 
    partner-1-start
*/
.as-partner-1 {
    &-sec-title {
        max-width: 630px;
    }

    &-wrap {
        gap: 30px;
        display: grid;
        grid-template-columns: 2.67fr 1fr;
        margin-right: -50px;
        align-items: start;

        @media #{$xl} {
            grid-template-columns: 2.5fr 1fr;
            margin-right: 0;
        }
        @media #{$lg,$md,$xs} {
            grid-template-columns: 1fr;
            margin-right: 0;
        }
    }
    &-circle-text {
        position: absolute;
        right: 23%;
        top: -37%;
        background-color: #1f1f1f;
        border-radius: 50%;
        padding: 16px;
        z-index: 3;

        @media #{$lg,$md,$xs} {
            display: none;
        }

        .illus {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .circle-text {
            animation: wa-rotated 20s linear infinite;
        }
    }

    &-logo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;


        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        &-single {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            height: 165px;
            border: 1px solid #C4C4C4;
            margin-left: -1px;
            margin-top: -1px;
            position: relative;
            overflow: hidden;
            background-color: transparent;
            transition: all .5s var(--as-cube-1);
         

            .number {
                font-family: var(--as-font-2);
                position: absolute;
                bottom: 10px;
                right: 20px;
                opacity: .5;
                transition: all .5s var(--as-cube-1);
            }

            img {
                transition: all .5s var(--as-cube-1);
               
            }

            
            &::after {
                content: "";
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background: #3F8CC7;
                filter: blur(41px);
                position: absolute;

                top: 19%;
                right: -15%;
                opacity: 1;
                z-index: -1;
                transition: all .5s var(--as-cube-1);
                opacity: 0;
            }
            &::before {
                content: "";
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background: var(--as-clr-pr-1);
                filter: blur(41px);
                position: absolute;

                bottom: -17%;
                left: -13%;
                opacity: .7;
                z-index: -1;
                transition: all .5s var(--as-cube-1);
                opacity: 0;
            }

            &:hover {
                background-color: #fff;
                border-color: #000;
                z-index: 2;
                &::after {
                    top: 9%;
                    right: -5%;
                    opacity: 1;
                }
                &::before {
                    bottom: -7%;
                    left: -3%;
                    opacity: 1;            
                }
                .number {
                    opacity: 1;
                }

                img {
                    filter: sepia(1) saturate(600%) hue-rotate(195deg) brightness(0.95) contrast(1);
                }
            }
        }
        
    }

    &-cloud {
        max-width: 478px;
        width: 100%;
        height: 350px;
        position: relative;
        z-index: 1;

        .cloud-1 {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            will-change: transform;
        }

        .cloud-2 {
            position: absolute;
            right: 0;
            top: 0;
            will-change: transform;
        }

        .rocket {
            position: absolute;
            left: 33%;
            bottom: 77%;
            will-change: transform;
        }
    }

    &-boost {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;

        .arrow {
            position: absolute;
            left: -33px;
            top: -53px;
        }

        .title {
            font-size: 24px;
            font-style: italic;
            background: #fff;
            margin-bottom: 6px;
            border-radius: 6px;
            border: 1px solid rgb(0 0 0 / 20%);
            padding: 6px 10px;
            display: inline-block;
            position: relative;
            z-index: 1;
        }
    }

    &-right {
        @media #{$lg,$md,$xs} {
            display: none;
        }
     
    }
    
    
}


/* 
    partner-1-end
*/
/* 
    partner-2-start
*/
.as-partner-2 {
    &-area {
        margin-bottom: -8px;
    }
    &-wrap {
        border-top: 1px solid rgb(10 10 10 / 16%);
        border-bottom: 1px solid rgb(10 10 10 / 16%);
        display: flex;
    }

    &-item {
        border-right: 1px solid rgb(10 10 10 / 16%);
        padding: 24px 24px;
        flex: 0 0 auto;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            padding: 8px 8px;
        }

        .logo-elm {
            border-radius: 12px;
            height: 132px;
            width: 264px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .5s var(--as-cube-1);
            padding: 10px;
            img {
                transition: all .5s var(--as-cube-1);
            }


            @media #{$xs} {
                height: 110px;
                width: 234px;
            }
        }

        &:hover {
            .logo-elm {
                background-color: #000;
                img {
                    filter: grayscale(1) brightness(0) invert(1); 
                }
            }
        }
    }
}


/* 
    partner-2-end
*/