/* 
    process-1-start
*/
.as-process-1 {
    &-area {
        background-color: var(--as-clr-h-1);
        padding-bottom: 0px;

        @media #{$md,$xs} {
            padding-bottom: 150px;
        }

        &:is(.p1_pin_elm_trigger) {
            height: 1600px;

            @media #{$md,$xs} {
                height: auto;
            }
        }
    }

    &-sec-title {
        display: flex;
        justify-content: end;
        gap: 10px;

        .as-subtitle-1 {
            color: var(--as-clr-pr-1);
        }
        

        .as-sec-title-1 {
            color: #fff;
        }

        .left {
            text-align: right;
            margin-top: 15px;
        }

        .sec-disc {
            margin-top: 24px;
            color: #bcbbbb;
        }
        
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.57fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr ;
        }
    }

    &-right {
        margin-top: 60px;
        margin-right: -100px;
        display: flex;
        gap: 25px;

        @media #{$md,$xs} {
            flex-direction: column;
            margin-right: 0px;
        }
    }

    &-card {
        background-color: #1a1a1a;
        border-radius: 10px;
        padding: 30px 30px;
        position: relative;
        z-index: 1;
        height: 100% ;
        overflow: hidden;
        max-width: 510px;
        flex: 0 0 auto;
        // box-shadow: -5px 0 2px var(--as-clr-h-1);
        will-change: transform;

        @media #{$md,$xs} {
            height: auto;
        }

        &::before {
            content: "";
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: var(--as-clr-pr-1);
            filter: blur(40px);
            position: absolute;
            top: -22%;
            left: -18%;
            z-index: -1;
            transition: all .5s var(--as-cube-1);
            opacity: 0;
        }

        .step-x-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 55px;

            @media #{$xs} {
                flex-wrap: wrap;
                gap: 30px;
            }
        }

        .step {
            color: #fff;
            font-size: 30px;

            i {
                color: var(--as-clr-pr-1);
                font-size: 25px;
                margin-left: 10px;
                transform: translateY(-10px);
                display: inline-block;
            }
        }

        .title {
            font-size: 44px;
            color: #fff;
            margin-bottom: 50px;

            @media #{$xl} {
                font-size: 38px;
            }
            @media #{$lg} {
                font-size: 34px;
            }
            @media #{$md,$xs} {
                font-size: 26px;
            }
        }

        .disc {
            color: #7e7e7e;
            border-top: 1px solid rgb(220 220 220 / 10%);
            padding-top: 20px;
        }
        
        &:hover {
            &::before {
                top: -12%;
                left: -8%;
                opacity: 1;
            }
        }

        &:nth-child(2) {
            background-color: #252525;
        }
        &:nth-child(3) {
            background-color: #303030;
        }
    }
    

    &-big-title {
        font-weight: 700;
        font-size: 528px;
        color: var(--as-clr-pr-1);
        line-height: 1;
        position: absolute;
        bottom: -8%;
        left: 0;
        z-index: -1;

        @media #{$xxxl} {
            font-size: 450px;
        }
        @media #{$xxl} {
            font-size: 410px;
        }
        @media #{$xl} {
            font-size: 360px;
            bottom: -5%;
        }
        @media #{$lg} {
            font-size: 320px;
            bottom: -5%;
        }
        @media #{$md} {
            font-size: 240px;
            bottom: -2%;
        }
        @media #{$xs} {
            font-size: 120px;
            bottom: -2%;
        }
        @media #{$sm} {
            font-size: 150px;
            bottom: -2%;
        }
    }


}



/* 
    process-1-end
*/
/* 
    process-2-start
*/
.as-process-2 {
    &-sec-title {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;

        .as-subtitle-2 {
            flex: 0 0 auto;
            gap: 0 40px;
        }

        .as-sec-title-2 {
            max-width: 870px;
        }
        
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        &::after {
            content: "";
            width: 120%;
            height: 1px;
            background-color: #C6C6C6;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            @media #{$xxl,$xl,$lg} {
                width: 100%;
            }
            @media #{$md,$xs} {
                display: none;
            }
        }


    }
    

    &-item {
        padding: 44px 32px;
        padding-bottom: 55px;
        border-left: 1px solid #C6C6C6;
        z-index: 1;

        @media #{$xl,$lg} {
            padding: 44px 22px;
        }

        @media #{$md,$xs} {
            padding: 44px 22px;
            border-bottom: 1px solid #C6C6C6;
        }

        .title {
            font-size: 22px;
            margin-bottom: 20px;
        }

        .icon {
            margin-bottom: 45px;
        }

        .disc {
            font-size: 16px;
        }
        

        .number {
            width: 52px;
            height: 52px;
            background: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            position: absolute;
            bottom: -26px;
            left: -26px;
            z-index: 2;

            &::after {
                content: "";
                width: 64px;
                height: 64px;
                border: 1px solid #C6C6C6;
                position: absolute;
                border-radius: 50%;
            }
        }

        &:hover {
            .icon {
                img {
                    animation: swing 1s ;
                }
            }
        }
    }
}


/* 
    process-2-end
*/