/* 
    cta-1-start
*/
.as-cta-1 {


    &-experi {
        background-color: #f0f0f0;
        border-radius: 20px;
        max-width: 1540px;
        margin-left: auto;
        margin-right: auto;
        padding: 45px 20px;
        text-align: center;
        margin-top: -120px;

        &-title {
            text-align: center;
            font-size: 24px;
            margin-bottom: 30px;

            .number {
                font-family: var(--as-font-2);
                font-weight: 800;
                font-size: 40px;
                line-height: 1;
                transform: translateY(3px);
                color: var(--as-clr-pr-1);

                .odometer {
                    color: var(--as-clr-h-1);
                }
            }
        }

        &-services {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
    
            .link-elm {
                font-size: 20px;
                box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.13);
                background: #fff;
                border-radius: 6px;
                padding: 8px 25px;
                transition: all .5s var(--as-cube-1);
    
                &:hover {
                    background: var(--as-clr-pr-1);
                    color: #fff;
                }
            }
        }
    }


}



/* 
    cta-1-end
*/