/* 
    home-css-start
*/


.as-home-1 {
    background-color: #dcdcdc;


    
    @media #{$over,$xxxl,$xxl} {
        &::-webkit-scrollbar-thumb {
            background: var(--sr-clr-pr-2);
        }

    }


    &::after {
        content: "";
        height: 140px;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 1;
        opacity: 1;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0);
        -webkit-mask-image: linear-gradient(to top, #000 10%, rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(to top, #000 10%, rgba(0, 0, 0, 0) 100%);
    }

}


/* 
    home-css-end
*/