/* 
    home-4-dark-start
*/

.has-dark {

    &:is(.as-home-2) {
        background-color: #050505;
    }


    
    .as-subtitle-2 {
        color: #fff;
        background: #1D1D1D;

        &::after {
            background: #fff;
        }
        &::before {
            background: #fff;
        }
    }

    .as-sec-title-2 {
        color: #fff;
    }

    .as-p-2 {
        color: #898989;
    }

    .as-pr-btn-2 {
        background: #202020;
        color: #fff;
    }

    .as-phone-btn-1 {
        color: #fff;
    }

    /* 
        dark-hero-2-start
    */
    &:is(.as-hero-2-area) {
        background-color: #050505;

        .as-hero-2 {
            &-bg-border {
                img {
                    filter: brightness(0) saturate(100%) invert(9%) sepia(4%) saturate(406%) hue-rotate(314deg) brightness(92%) contrast(89%);
                }
                  
            }

            &-content {
                .hero-disc {
                    color: #fff;
                }
                .as-pr-btn-2 {
                    background: #000;
                }
            }
        }
    }
    /* 
        dark-hero-2-end
    */
    /* 
        dark-about-2-start
    */
    &:is(.as-about-2-area) {
        background-color: #050505;

        .as-about-2 {
            &-left {
                background-color: #1D1D1D;
            }


            &-counter {
                .number {
                    color: #fff;

                    .odometer  {
                        color: #fff;
                    }
                }

                .title {
                    color: #fff;
                }
            }


            &-middle {
                .inner-div {
                    background-color: #1D1D1D;
                }
            }


            &-progress{
                &-single {
                    background: #000;
                    color: #fff;

                    &:nth-child(2) {
                        background: #0f0f0f;
                    }
                    &:nth-child(3) {
                        background: #1b1b1b;
                    }
                    &:nth-child(4) {
                        background: #292929;
                    }
                }
            }


            &-support {
                background: #000000;

                .icon {
                    background: #202020;
                }

                .title {
                    color: #fff;
                }
            }


            &-process {
                .disc {
                    color: #fff;
                }
            }
        }




    }
    /* 
        dark-about-2-end
    */

    /* 
        dark-partner-2-start
    */
    &:is(.as-partner-2-area) {
        background-color: #101010;

        .as-partner-2-item {
            border-right: 1px solid rgb(255 255 255 / 16%);
        }
    }
    /* 
        dark-partner-2-end
    */
    /* 
        dark-portfolio-2-start
    */
    &:is(.as-portfolio-2-bg-color) {
 
        .circle {
            background: #252525;
        }

    }

    &:is(.as-portfolio-2-area) {
        background: #252525;

        .as-portfolio-2 {
            &-item {
                &-content {
                    .right-content {
                        .disc {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    /* 
        dark-portfolio-2-end
    */


    
    /* 
        dark-about-2-start
    */
    &:is(.as-our-story-2-area) {
        background-color: #050505;

    }

    /* 
        dark-about-2-end
    */

    /* 
        dark-marquee-text-2-start
    */
    &:is(.as-marquee-text-2-area) {
        background-color: #050505;

        .as-marquee-text-2-text {
            opacity: .2;
        }
    }
    /* 
        dark-marquee-text-2-end
    */

    
    /* 
        dark-success-2-start
    */
    &:is(.as-success-2-area) {
        background-color: #050505;

        .as-success-2 {
            &-experience {
                .number {
                    background: #1D1D1D;
                }
            }

            &-item {
                border-top: 1px solid rgb(146 146 146 / 24%);

                .number {
                    background-color: #787878;
                }
            }
        }

    }
    /* 
        dark-success-2-end
    */
    
    /* 
        dark-services-2-start
    */
    &:is(.as-services-2-area) {
        background-color: #191919;

        .as-services-2 {
            &-item {
                border-bottom: 2px solid #898989;
                color: #fff;
            }
        }

    }
    /* 
        dark-services-2-end
    */

        
    /* 
        dark-process-2-start
    */
    &:is(.as-process-2-area) {
        background-color: #050505;

        .as-process-2 {
            &-wrap::after {
                background-color: #353535;
            }
            &-item {
                border-left: 1px solid #353535;

                .title {
                    color: #fff;
                }
                .number  {
                    &::after{
                        border-color: #353535;
                    }
                }
            }
        }
    }
    /* 
        dark-process-2-end
    */
        
    /* 
        dark-trust-2-start
    */
    &:is(.as-trust-2-area) {
        background-color: #050505;

        .as-trust-2-comment span {
            background-color: #000;
            color: #fff;
        }

        .as-trust-2-author .content-wrap {
            background-color: #000;
        }
        .as-trust-2-author .name {
            color: #fff;
        }
    }
    /* 
        dark-trust-2-end
    */

        
    /* 
        dark-faqs-2-start
    */
    &:is(.as-faqs-2-area) {
        background-color: #191919;

        &::after {
            background-color: #242424;
        }


        .as-faqs-2 {
            &-accordion {
                .as-accordion {
                    &-item {
                        border-bottom: 1px solid rgb(255 255 255 / 28%);

                        .item-title {
                            color: #fff;

                            .icon {
                                color: #fff;
                            }
                        }

                        &:is(.active) {
                            .item-title {
                                color: #fff;
                                background: #1D1D1D;
                            }
                        }
                    }
                }
            }
        }

    }
    /* 
        dark-faqs-2-end
    */

        
    /* 
        dark-testimonial-2-start
    */
    &:is(.as-testimonial-2-area) {
        background-color: #050505;

        .as-testimonial-2-wrap-big-title {
            color: #fff;
        }

        .as-testimonial-2-item {
            background: #1D1D1D;
            outline: 7px solid #1D1D1D;
            border: 1px solid rgb(0 0 0);

            .name {
                color: #fff;
            }

            .icon-elm {
                color: #fff;
            }
        }

    }

    &:is(.as-testimonial-1-marquee) {
        background-color: #050505;

        .as-testimonial-1-marquee-wrap {
            img {
                filter: invert(1) sepia(0) saturate(0) brightness(10.13) contrast(1);
            }
        }
    }
    /* 
        dark-testimonial-2-end
    */        
    /* 
        dark-blog-2-start
    */
    &:is(.as-blog-2-area) {
        background-color: #050505;

        .as-blog-2 {
            &-item {
                .title {
                    color: #fff;

                    &:hover {
                        color: var(--as-clr-pr-1);
                    }
                }

                .item-date {
                    color: #cfcfcf;

                    span {
                        color: #fff;
                    }
                }

                .item-btn {
                    color: #ffff;
                    border-bottom: 1px solid #353535;

                    &:hover {
                        border-color: transparent;
                        color: var(--as-clr-pr-1);
                    }
                }
            }
        }
    }
    /* 
        dark-blog-2-end
    */


    /* 
        dark-footer-2-start
    */
    &:is(.as-footer-2-area) {
        background-color: #191919;
    }
    /* 
        dark-footer-2-end
    */


}

/* 
    home-4-dark-end
*/